In [1]:
!pip install nba_api

Requirement already satisfied: nba_api in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (1.4.1)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (1.26.2)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (1.26.18)

In [2]:
import numpy as np
import pandas as pd

In [3]:
from nba_api.stats.endpoints import playercareerstats

# Player Stats by ID
career = playercareerstats.PlayerCareerStats(player_id='203932') 

# pandas data frames 
career.get_data_frames()[0]

# # json
# career.get_json()

# # dictionary
# career.get_dict()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203932,2014-15,00,1610612753,ORL,19.0,47,8,797.0,93,...,0.721,46,123,169,33,21,22,38,83,243
1,203932,2015-16,00,1610612753,ORL,20.0,78,37,1863.0,274,...,0.668,154,353,507,128,59,55,66,153,719
2,203932,2016-17,00,1610612753,ORL,21.0,80,72,2298.0,393,...,0.719,116,289,405,150,65,40,89,172,1019
3,203932,2017-18,00,1610612753,ORL,22.0,58,57,1909.0,375,...,0.698,87,370,457,136,59,45,107,111,1022
4,203932,2018-19,00,1610612753,ORL,23.0,78,78,2633.0,470,...,0.731,129,445,574,289,57,56,162,172,1246
5,203932,2019-20,00,1610612753,ORL,24.0,62,62,2017.0,335,...,0.674,107,368,475,228,51,39,100,125,894
6,203932,2020-21,00,1610612753,ORL,25.0,25,25,736.0,128,...,0.629,39,127,166,105,16,20,67,49,364
7,203932,2020-21,00,1610612743,DEN,25.0,25,25,648.0,103,...,0.705,38,80,118,56,17,14,30,40,254
8,203932,2020-21,00,0,TOT,25.0,50,50,1384.0,231,...,0.651,77,207,284,161,33,34,97,89,618
9,203932,2021-22,00,1610612743,DEN,26.0,75,75,2375.0,434,...,0.743,125,314,439,188,44,44,133,148,1126
10,203932,2022-23,00,1610612743,DEN,27.0,68,68,2055.0,429,...,0.608,164,282,446,203,54,51,98,129,1109
11,203932,2023-24,00,1610612743,DEN,28.0,35,35,1109.0,197,...,0.636,95,137,232,111,30,19,48,58,491

In [4]:
path = '/Users/torianotriche/Desktop/CourseraDataScience/NBAStatsPrac/NBA_Player_IDs.csv'
player_id = pd.read_csv(path)

In [5]:
player_id.head()

,BBRefName,BBRefLink,BBRefID,BBRefBirthDate,NBAName,NBALink,NBAID,NBABirthDate,ESPNName,ESPNLink,ESPNID,ESPNBirthDate,SpotracName,SpotracLink,SpotracID
0,A.J. Hammons,https://www.basketball-reference.com/players/h...,hammoaj01,8/27/92,AJ Hammons,https://stats.nba.com/player/1627773/,1627773.0,8/27/92,AJ Hammons,http://www.espn.com/nba/player/_/id/2991178/aj...,2991178.0,8/27/92,A.J. Hammons,https://www.spotrac.com/redirect/player/20252/,20252.0
1,A.J. Price,https://www.basketball-reference.com/players/p...,priceaj01,10/7/86,AJ Price,https://stats.nba.com/player/201985/,201985.0,10/7/86,A.J. Price,http://www.espn.com/nba/player/_/id/4010/aj-price,4010.0,10/7/86,A.J. Price,https://www.spotrac.com/redirect/player/6292/,6292.0
2,Aaron Brooks,https://www.basketball-reference.com/players/b...,brookaa01,1/14/85,Aaron Brooks,https://stats.nba.com/player/201166/,201166.0,1/14/85,Aaron Brooks,http://www.espn.com/nba/player/_/id/3192/aaron...,3192.0,1/14/85,Aaron Brooks,https://www.spotrac.com/redirect/player/2390/,2390.0
3,Aaron Gordon,https://www.basketball-reference.com/players/g...,gordoaa01,9/16/95,Aaron Gordon,https://stats.nba.com/player/203932/,203932.0,9/16/95,Aaron Gordon,http://www.espn.com/nba/player/_/id/3064290/aa...,3064290.0,9/16/95,Aaron Gordon,https://www.spotrac.com/redirect/player/15356/,15356.0
4,Aaron Gray,https://www.basketball-reference.com/players/g...,grayaa01,12/7/84,Aaron Gray,https://stats.nba.com/player/201189/,201189.0,12/7/84,Aaron Gray,http://www.espn.com/nba/player/_/id/3207/aaron...,3207.0,12/7/84,Aaron Gray,https://www.spotrac.com/redirect/player/2244/,2244.0

In [6]:
player_id.columns

Index(['BBRefName', 'BBRefLink', 'BBRefID', 'BBRefBirthDate', 'NBAName',
       'NBALink', 'NBAID', 'NBABirthDate', 'ESPNName', 'ESPNLink', 'ESPNID',
       'ESPNBirthDate', 'SpotracName', 'SpotracLink', 'SpotracID'],
      dtype='object')

In [7]:
player_id = player_id[['NBAName',
       'NBALink', 'NBAID', 'NBABirthDate']]

In [8]:
player_id.tail()

     NBAName NBALink  NBAID NBABirthDate
4608     NaN     NaN    NaN          NaN
4609     NaN     NaN    NaN          NaN
4610     NaN     NaN    NaN          NaN
4611     NaN     NaN    NaN          NaN
4612     NaN     NaN    NaN          NaN

In [9]:
player_id.dropna(axis=0, inplace=True)

In [10]:
player_id.tail()

,NBAName,NBALink,NBAID,NBABirthDate
4524,Terrico White,https://stats.nba.com/player/202358/,202358.0,3/7/90
4525,Lindell Wigginton,https://stats.nba.com/player/1629623/,1629623.0,3/28/98
4526,Ward Williams,https://stats.nba.com/player/78573/,78573.0,6/26/23
4527,Hank Zeller,https://stats.nba.com/player/78642/,78642.0,7/10/18
4528,Matt Zunic,https://stats.nba.com/player/78650/,78650.0,12/19/19

In [11]:
player_id.reset_index(drop=True, inplace=True)

In [12]:
player_id.tail()

,NBAName,NBALink,NBAID,NBABirthDate
4518,Terrico White,https://stats.nba.com/player/202358/,202358.0,3/7/90
4519,Lindell Wigginton,https://stats.nba.com/player/1629623/,1629623.0,3/28/98
4520,Ward Williams,https://stats.nba.com/player/78573/,78573.0,6/26/23
4521,Hank Zeller,https://stats.nba.com/player/78642/,78642.0,7/10/18
4522,Matt Zunic,https://stats.nba.com/player/78650/,78650.0,12/19/19

In [13]:
LBJ = player_id[player_id['NBAName'] == 'LeBron James']['NBAID']
print(LBJ)

610    2544.0
Name: NBAID, dtype: float64

In [14]:
player_id['NBAID'] = player_id['NBAID'].astype(int)

In [15]:
player_id.head()

        NBAName                                NBALink    NBAID NBABirthDate
0    AJ Hammons  https://stats.nba.com/player/1627773/  1627773      8/27/92
1      AJ Price   https://stats.nba.com/player/201985/   201985      10/7/86
2  Aaron Brooks   https://stats.nba.com/player/201166/   201166      1/14/85
3  Aaron Gordon   https://stats.nba.com/player/203932/   203932      9/16/95
4    Aaron Gray   https://stats.nba.com/player/201189/   201189      12/7/84

In [16]:
path = '/Users/torianotriche/Desktop/CourseraDataScience/NBAStatsPrac/Nba_Player_Salaries.csv'
playerSalaries = pd.read_csv(path)

In [17]:
playerSalaries

,Player Id,Player Name,2022/2023,2023/2024,2024/2025,2024/2025.1
0,1,Stephen Curry,"$48,070,014","$51,915,615","$55,761,217","$59,606,817"
1,2,John Wall,"$47,345,760",$0,$0,$0
2,3,Russell Westbrook,"$47,080,179",$0,$0,$0
3,4,LeBron James,"$44,474,988","$46,698,737","$50,434,636",$0
4,5,Kevin Durant,"$44,119,845","$47,649,433","$51,179,020","$54,708,608"
...,...,...,...,...,...,...
569,570,Gabe York,"$32,171",$0,$0,$0
570,571,Ibou Badji,"$18,226","$1,761,752",$0,$0
571,572,Tristan Thompson,"$16,700",$0,$0,$0
572,573,RaiQuan Gray,"$5,849","$547,349",$0,$0
573,573,Jacob Gilyard,"$5,849","$547,349",$0,$0

In [18]:
path = '/Users/torianotriche/Desktop/CourseraDataScience/NBAStatsPrac/NBA_Full_Salaries_2000-2019.csv'
playerSalaries2019 = pd.read_csv(path)

In [19]:
playerSalaries2019.head()

   Unnamed: 0              Name  Year    Salaries  Rank
0           1  Shaquille O'Neal  2000  17142000.0     1
1           2     Kevin Garnett  2000  16806000.0     2
2           3   Alonzo Mourning  2000  15004000.0     3
3           4      Juwan Howard  2000  15000000.0     4
4           5    Scottie Pippen  2000  14795000.0     5

In [20]:
playerSalaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player Id    574 non-null    int64
 1   Player Name  574 non-null    object
 2   2022/2023    574 non-null    object
 3   2023/2024    574 non-null    object
 4   2024/2025    574 non-null    object
 5   2024/2025.1  574 non-null    object
dtypes: int64(1), object(5)
memory usage: 27.0+ KB

In [21]:
playerSalaries.columns

Index(['Player Id', 'Player Name', '2022/2023', '2023/2024', '2024/2025',
       '2024/2025.1'],
      dtype='object')

In [22]:
playerSalaries.head()

,Player Id,Player Name,2022/2023,2023/2024,2024/2025,2024/2025.1
0,1,Stephen Curry,"$48,070,014","$51,915,615","$55,761,217","$59,606,817"
1,2,John Wall,"$47,345,760",$0,$0,$0
2,3,Russell Westbrook,"$47,080,179",$0,$0,$0
3,4,LeBron James,"$44,474,988","$46,698,737","$50,434,636",$0
4,5,Kevin Durant,"$44,119,845","$47,649,433","$51,179,020","$54,708,608"

In [23]:
playerSalaries['2024/2025'][playerSalaries['Player Name'] == 'Stephen Curry']

0    $55,761,217
Name: 2024/2025, dtype: object

In [24]:
player_id[player_id['NBAName'] == 'Russell Westbrook']

,NBAName,NBALink,NBAID,NBABirthDate
818,Russell Westbrook,https://stats.nba.com/player/201566/,201566,11/12/88

In [25]:
playerSalaries.rename(columns={'Player Name':'NBAName'}, inplace=True)

In [26]:
playerSalaries

,Player Id,NBAName,2022/2023,2023/2024,2024/2025,2024/2025.1
0,1,Stephen Curry,"$48,070,014","$51,915,615","$55,761,217","$59,606,817"
1,2,John Wall,"$47,345,760",$0,$0,$0
2,3,Russell Westbrook,"$47,080,179",$0,$0,$0
3,4,LeBron James,"$44,474,988","$46,698,737","$50,434,636",$0
4,5,Kevin Durant,"$44,119,845","$47,649,433","$51,179,020","$54,708,608"
...,...,...,...,...,...,...
569,570,Gabe York,"$32,171",$0,$0,$0
570,571,Ibou Badji,"$18,226","$1,761,752",$0,$0
571,572,Tristan Thompson,"$16,700",$0,$0,$0
572,573,RaiQuan Gray,"$5,849","$547,349",$0,$0
573,573,Jacob Gilyard,"$5,849","$547,349",$0,$0

In [27]:
player_id

,NBAName,NBALink,NBAID,NBABirthDate
0,AJ Hammons,https://stats.nba.com/player/1627773/,1627773,8/27/92
1,AJ Price,https://stats.nba.com/player/201985/,201985,10/7/86
2,Aaron Brooks,https://stats.nba.com/player/201166/,201166,1/14/85
3,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95
4,Aaron Gray,https://stats.nba.com/player/201189/,201189,12/7/84
...,...,...,...,...
4518,Terrico White,https://stats.nba.com/player/202358/,202358,3/7/90
4519,Lindell Wigginton,https://stats.nba.com/player/1629623/,1629623,3/28/98
4520,Ward Williams,https://stats.nba.com/player/78573/,78573,6/26/23
4521,Hank Zeller,https://stats.nba.com/player/78642/,78642,7/10/18
4522,Matt Zunic,https://stats.nba.com/player/78650/,78650,12/19/19

In [28]:
print (pd.merge(player_id, playerSalaries, on='NBAName'))

                   NBAName                                NBALink    NBAID  \
0             Aaron Gordon   https://stats.nba.com/player/203932/   203932
1            Aaron Holiday  https://stats.nba.com/player/1628988/  1628988
2               Al Horford   https://stats.nba.com/player/201143/   201143
3               Alec Burks   https://stats.nba.com/player/202692/   202692
4              Alex Caruso  https://stats.nba.com/player/1627936/  1627936
..                     ...                                    ...      ...
308           Johnny Davis    https://stats.nba.com/player/76526/    76526
309          Armoni Brooks  https://stats.nba.com/player/1629717/  1629717
310           Juwan Morgan  https://stats.nba.com/player/1629752/  1629752
311  Juan Toscano-Anderson  https://stats.nba.com/player/1629308/  1629308
312      Lindell Wigginton  https://stats.nba.com/player/1629623/  1629623

    NBABirthDate  Player Id     2022/2023     2023/2024     2024/2025  \
0        9/16/95         68  $19,690,909   $21,266,182   $22,841,455
1        9/30/96        381   $1,968,175            $0            $0
2         6/3/86         52  $26,500,000   $10,000,000    $9,500,000
3        7/20/91        144  $10,012,800   $10,489,600            $0
4        2/28/94        160   $9,030,000    $9,460,000    $9,890,000
..           ...        ...           ...           ...           ...
308     10/21/55        234   $4,810,320    $5,050,800    $5,291,160
309       6/5/98        565      $50,000            $0            $0
310      4/17/97        482     $576,230      $576,230      $576,230
311      4/10/93        365   $2,133,278            $0            $0
312      3/28/98        560      $99,438      $547,349            $0

      2024/2025.1
0    $22,841,455
1             $0
2             $0
3             $0
4             $0
..            ...
308   $6,746,229
309           $0
310           $0
311           $0
312           $0

[313 rows x 9 columns]

In [29]:
merged_df = pd.merge(player_id, playerSalaries, on='NBAName')

In [30]:
merged_df

,NBAName,NBALink,NBAID,NBABirthDate,Player Id,2022/2023,2023/2024,2024/2025,2024/2025.1
0,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95,68,"$19,690,909","$21,266,182","$22,841,455","$22,841,455"
1,Aaron Holiday,https://stats.nba.com/player/1628988/,1628988,9/30/96,381,"$1,968,175",$0,$0,$0
2,Al Horford,https://stats.nba.com/player/201143/,201143,6/3/86,52,"$26,500,000","$10,000,000","$9,500,000",$0
3,Alec Burks,https://stats.nba.com/player/202692/,202692,7/20/91,144,"$10,012,800","$10,489,600",$0,$0
4,Alex Caruso,https://stats.nba.com/player/1627936/,1627936,2/28/94,160,"$9,030,000","$9,460,000","$9,890,000",$0
...,...,...,...,...,...,...,...,...,...
308,Johnny Davis,https://stats.nba.com/player/76526/,76526,10/21/55,234,"$4,810,320","$5,050,800","$5,291,160","$6,746,229"
309,Armoni Brooks,https://stats.nba.com/player/1629717/,1629717,6/5/98,565,"$50,000",$0,$0,$0
310,Juwan Morgan,https://stats.nba.com/player/1629752/,1629752,4/17/97,482,"$576,230","$576,230","$576,230",$0
311,Juan Toscano-Anderson,https://stats.nba.com/player/1629308/,1629308,4/10/93,365,"$2,133,278",$0,$0,$0
312,Lindell Wigginton,https://stats.nba.com/player/1629623/,1629623,3/28/98,560,"$99,438","$547,349",$0,$0

In [31]:
merged_df.rename(columns={'Player Id':'Rank'}, inplace=True)

In [32]:
merged_df.head()

,NBAName,NBALink,NBAID,NBABirthDate,Rank,2022/2023,2023/2024,2024/2025,2024/2025.1
0,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95,68,"$19,690,909","$21,266,182","$22,841,455","$22,841,455"
1,Aaron Holiday,https://stats.nba.com/player/1628988/,1628988,9/30/96,381,"$1,968,175",$0,$0,$0
2,Al Horford,https://stats.nba.com/player/201143/,201143,6/3/86,52,"$26,500,000","$10,000,000","$9,500,000",$0
3,Alec Burks,https://stats.nba.com/player/202692/,202692,7/20/91,144,"$10,012,800","$10,489,600",$0,$0
4,Alex Caruso,https://stats.nba.com/player/1627936/,1627936,2/28/94,160,"$9,030,000","$9,460,000","$9,890,000",$0

In [33]:
merged_df.columns

Index(['NBAName', 'NBALink', 'NBAID', 'NBABirthDate', 'Rank', '2022/2023',
       '2023/2024', '2024/2025', '2024/2025.1'],
      dtype='object')

In [34]:
playerSalaries2023_24 = merged_df[['NBAName', 'NBALink', 'NBAID', 'NBABirthDate', 'Rank', '2023/2024',]]

In [35]:
playerSalaries2023_24

,NBAName,NBALink,NBAID,NBABirthDate,Rank,2023/2024
0,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95,68,"$21,266,182"
1,Aaron Holiday,https://stats.nba.com/player/1628988/,1628988,9/30/96,381,$0
2,Al Horford,https://stats.nba.com/player/201143/,201143,6/3/86,52,"$10,000,000"
3,Alec Burks,https://stats.nba.com/player/202692/,202692,7/20/91,144,"$10,489,600"
4,Alex Caruso,https://stats.nba.com/player/1627936/,1627936,2/28/94,160,"$9,460,000"
...,...,...,...,...,...,...
308,Johnny Davis,https://stats.nba.com/player/76526/,76526,10/21/55,234,"$5,050,800"
309,Armoni Brooks,https://stats.nba.com/player/1629717/,1629717,6/5/98,565,$0
310,Juwan Morgan,https://stats.nba.com/player/1629752/,1629752,4/17/97,482,"$576,230"
311,Juan Toscano-Anderson,https://stats.nba.com/player/1629308/,1629308,4/10/93,365,$0
312,Lindell Wigginton,https://stats.nba.com/player/1629623/,1629623,3/28/98,560,"$547,349"

In [36]:
playerSalaries2023_24.rename(columns={'2023/2024':'Salary'}, inplace=True)

/var/folders/1w/gby26f3n765d28gknb15r_kh0000gn/T/ipykernel_4762/609228337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playerSalaries2023_24.rename(columns={'2023/2024':'Salary'}, inplace=True)

In [37]:
playerSalaries2023_24.head()

,NBAName,NBALink,NBAID,NBABirthDate,Rank,Salary
0,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95,68,"$21,266,182"
1,Aaron Holiday,https://stats.nba.com/player/1628988/,1628988,9/30/96,381,$0
2,Al Horford,https://stats.nba.com/player/201143/,201143,6/3/86,52,"$10,000,000"
3,Alec Burks,https://stats.nba.com/player/202692/,202692,7/20/91,144,"$10,489,600"
4,Alex Caruso,https://stats.nba.com/player/1627936/,1627936,2/28/94,160,"$9,460,000"

In [38]:
playerSalaries2023_24[playerSalaries2023_24['NBAName'] == 'Stephen Curry']

,NBAName,NBALink,NBAID,NBABirthDate,Rank,Salary
211,Stephen Curry,https://stats.nba.com/player/201939/,201939,3/14/88,1,"$51,915,615"

In [39]:
from nba_api.stats.endpoints import playercareerstats

# Player Stats by ID
career = playercareerstats.PlayerCareerStats(player_id='201939') 

# pandas data frames 
stats = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [40]:
stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201939,2009-10,00,1610612744,GSW,22.0,80,77,2896.0,528,1143,0.462,166,380,0.437,177,200,0.885,48,308,356,472,152,19,243,252,1399
1,201939,2010-11,00,1610612744,GSW,23.0,74,74,2489.0,505,1053,0.480,151,342,0.442,212,227,0.934,52,234,286,432,109,20,226,233,1373
2,201939,2011-12,00,1610612744,GSW,24.0,26,23,732.0,145,296,0.490,55,121,0.455,38,47,0.809,15,73,88,138,39,8,65,62,383
3,201939,2012-13,00,1610612744,GSW,25.0,78,78,2983.0,626,1388,0.451,272,600,0.453,262,291,0.900,59,255,314,539,126,12,240,198,1786
4,201939,2013-14,00,1610612744,GSW,26.0,78,78,2846.0,652,1383,0.471,261,615,0.424,308,348,0.885,46,288,334,666,128,14,294,194,1873
5,201939,2014-15,00,1610612744,GSW,27.0,80,80,2613.0,653,1341,0.487,286,646,0.443,308,337,0.914,56,285,341,619,163,16,249,158,1900
6,201939,2015-16,00,1610612744,GSW,28.0,79,79,2700.0,805,1598,0.504,402,886,0.454,363,400,0.908,68,362,430,527,169,15,262,161,2375
7,201939,2016-17,00,1610612744,GSW,29.0,79,79,2639.0,675,1443,0.468,324,789,0.411,325,362,0.898,61,292,353,524,142,17,239,183,1999
8,201939,2017-18,00,1610612744,GSW,30.0,51,51,1631.0,428,864,0.495,212,501,0.423,278,302,0.921,36,225,261,310,80,8,153,114,1346
9,201939,2018-19,00,1610612744,GSW,31.0,69,69,2331.0,632,1340,0.472,354,810,0.437,263,287,0.916,45,324,369,361,92,25,192,166,1881
10,201939,2019-20,00,1610612744,GSW,32.0,5,5,139.0,33,82,0.402,12,49,0.245,26,26,1.000,4,22,26,33,5,2,16,11,104
11,201939,2020-21,00,1610612744,GSW,33.0,63,63,2152.0,658,1365,0.482,337,801,0.421,362,395,0.916,29,316,345,363,77,8,213,119,2015
12,201939,2021-22,00,1610612744,GSW,34.0,64,64,2211.0,535,1224,0.437,285,750,0.380,275,298,0.923,34,301,335,404,85,23,206,130,1630
13,201939,2022-23,00,1610612744,GSW,35.0,56,56,1941.0,559,1133,0.493,273,639,0.427,257,281,0.915,39,302,341,352,52,20,179,117,1648
14,201939,2023-24,00,1610612744,GSW,35.0,36,36,1196.0,302,682,0.443,164,412,0.398,194,210,0.924,16,136,152,173,30,14,108,64,962

In [41]:
playerSalaries2023_24.head()

,NBAName,NBALink,NBAID,NBABirthDate,Rank,Salary
0,Aaron Gordon,https://stats.nba.com/player/203932/,203932,9/16/95,68,"$21,266,182"
1,Aaron Holiday,https://stats.nba.com/player/1628988/,1628988,9/30/96,381,$0
2,Al Horford,https://stats.nba.com/player/201143/,201143,6/3/86,52,"$10,000,000"
3,Alec Burks,https://stats.nba.com/player/202692/,202692,7/20/91,144,"$10,489,600"
4,Alex Caruso,https://stats.nba.com/player/1627936/,1627936,2/28/94,160,"$9,460,000"

In [84]:
path = 'https://nba-stats-db.herokuapp.com/api/playerdata/season/2023'
seasonStats = pd.read_json(path)

seasonStats1 = pd.json_normalize(seasonStats['results'])

In [86]:
seasonStats1

,id,player_name,age,games,games_started,minutes_played,field_goals,field_attempts,field_percent,three_fg,three_attempts,three_percent,two_fg,two_attempts,two_percent,effect_fg_percent,ft,fta,ft_percent,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team,season
0,1,Jalen Green,20,76,76,2602,566,1359,0.416,187,554,0.338,379,805,0.471,0.485,364,463,0.786,43,241,284,281,59,18,200,131,1683,HOU,2023
1,2,Jabari Smith Jr.,19,79,79,2451,364,892,0.408,120,391,0.307,244,501,0.487,0.475,162,206,0.786,122,447,569,101,43,74,104,227,1010,HOU,2023
2,3,Kenyon Martin Jr.,22,82,49,2292,410,720,0.569,68,216,0.315,342,504,0.679,0.617,151,222,0.680,126,326,452,123,41,30,91,147,1039,HOU,2023
3,4,Alperen Şengün,20,75,72,2171,442,799,0.553,19,57,0.333,423,742,0.570,0.565,206,288,0.715,242,436,678,291,70,70,193,258,1109,HOU,2023
4,5,Kevin Porter Jr.,22,59,59,2024,391,884,0.442,141,385,0.366,250,499,0.501,0.522,207,264,0.784,76,238,314,338,82,17,188,156,1130,HOU,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Nerlens Noel,28,3,1,43,1,6,0.167,0,0,None,1,6,0.167,0.167,1,2,0.500,3,6,9,3,3,1,5,7,3,BRK,2023
96,97,RaiQuan Gray,23,1,0,35,6,12,0.500,2,5,0.400,4,7,0.571,0.583,2,2,1.000,3,6,9,7,0,1,4,5,16,BRK,2023
97,98,Moses Brown,23,2,0,6,0,0,None,0,0,None,0,0,None,None,0,0,None,0,0,0,0,1,0,1,1,0,BRK,2023
98,99,Alondes Williams,23,1,0,5,0,0,None,0,0,None,0,0,None,None,0,0,None,0,1,1,0,0,0,2,1,0,BRK,2023
99,100,Scottie Barnes,21,77,76,2678,463,1016,0.456,63,224,0.281,400,792,0.505,0.487,190,246,0.772,179,333,512,371,83,61,154,170,1179,TOR,2023

In [83]:
stats = pd.json_normalize(seasonStats['results'])
df = pd.DataFrame(data=stats)
df

,id,player_name,age,games,games_started,minutes_played,field_goals,field_attempts,field_percent,three_fg,three_attempts,three_percent,two_fg,two_attempts,two_percent,effect_fg_percent,ft,fta,ft_percent,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team,season
0,1,Jalen Green,20,76,76,2602,566,1359,0.416,187,554,0.338,379,805,0.471,0.485,364,463,0.786,43,241,284,281,59,18,200,131,1683,HOU,2023
1,2,Jabari Smith Jr.,19,79,79,2451,364,892,0.408,120,391,0.307,244,501,0.487,0.475,162,206,0.786,122,447,569,101,43,74,104,227,1010,HOU,2023
2,3,Kenyon Martin Jr.,22,82,49,2292,410,720,0.569,68,216,0.315,342,504,0.679,0.617,151,222,0.680,126,326,452,123,41,30,91,147,1039,HOU,2023
3,4,Alperen Şengün,20,75,72,2171,442,799,0.553,19,57,0.333,423,742,0.570,0.565,206,288,0.715,242,436,678,291,70,70,193,258,1109,HOU,2023
4,5,Kevin Porter Jr.,22,59,59,2024,391,884,0.442,141,385,0.366,250,499,0.501,0.522,207,264,0.784,76,238,314,338,82,17,188,156,1130,HOU,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Nerlens Noel,28,3,1,43,1,6,0.167,0,0,None,1,6,0.167,0.167,1,2,0.500,3,6,9,3,3,1,5,7,3,BRK,2023
96,97,RaiQuan Gray,23,1,0,35,6,12,0.500,2,5,0.400,4,7,0.571,0.583,2,2,1.000,3,6,9,7,0,1,4,5,16,BRK,2023
97,98,Moses Brown,23,2,0,6,0,0,None,0,0,None,0,0,None,None,0,0,None,0,0,0,0,1,0,1,1,0,BRK,2023
98,99,Alondes Williams,23,1,0,5,0,0,None,0,0,None,0,0,None,None,0,0,None,0,1,1,0,0,0,2,1,0,BRK,2023
99,100,Scottie Barnes,21,77,76,2678,463,1016,0.456,63,224,0.281,400,792,0.505,0.487,190,246,0.772,179,333,512,371,83,61,154,170,1179,TOR,2023

In [45]:
from nba_api.stats.endpoints import scoreboard

# Player Stats by ID
career = scoreboard.Scoreboard(game_date='2023-01-13T00:00:00') 

# pandas data frames 
stat2 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [46]:
stat2

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2023-01-13T00:00:00,1,0022200632,3,Final,20230113/NOPDET,1610612765,1610612740,2022,4,,None,Q4 -,1
1,2023-01-13T00:00:00,2,0022200633,3,Final,20230113/ATLIND,1610612754,1610612737,2022,4,,None,Q4 -,1
2,2023-01-13T00:00:00,3,0022200634,3,Final,20230113/NYKWAS,1610612764,1610612752,2022,4,,None,Q4 -,1
3,2023-01-13T00:00:00,4,0022200635,3,Final,20230113/GSWSAS,1610612759,1610612744,2022,4,,ESPN,Q4 - ESPN,1
4,2023-01-13T00:00:00,5,0022200636,3,Final,20230113/OKCCHI,1610612741,1610612760,2022,4,,None,Q4 -,1
5,2023-01-13T00:00:00,6,0022200637,3,Final,20230113/PHXMIN,1610612750,1610612756,2022,4,,None,Q4 -,1
6,2023-01-13T00:00:00,7,0022200638,3,Final,20230113/ORLUTA,1610612762,1610612753,2022,4,,None,Q4 -,1
7,2023-01-13T00:00:00,8,0022200639,3,Final,20230113/DENLAC,1610612746,1610612743,2022,4,,ESPN,Q4 - ESPN,1
8,2023-01-13T00:00:00,9,0022200640,3,Final,20230113/HOUSAC,1610612758,1610612745,2022,4,,None,Q4 -,1

In [47]:
from nba_api.stats.endpoints import playbyplay

# Player Stats by ID
career = playbyplay.PlayByPlay(game_id='0022200639') 

# pandas data frames 
stat3 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [48]:
stat3

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0022200639,2,12,0,1,10:16 PM,12:00,None,Start of 1st Period (10:16 PM EST),None,None,None
1,0022200639,9,10,0,1,10:17 PM,12:00,Jump Ball Zubac vs. Jordan: Tip to Mann,None,None,None,None
2,0022200639,5,2,79,1,10:17 PM,11:43,MISS Morris Sr. 14' Pullup Jump Shot,None,None,None,None
3,0022200639,6,4,0,1,10:17 PM,11:40,None,None,Murray REBOUND (Off:0 Def:1),None,None
4,0022200639,7,2,101,1,10:17 PM,11:32,None,None,MISS Murray 14' Driving Floating Jump Shot,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
408,0022200639,562,4,0,4,12:30 AM,0:33,None,None,Brown REBOUND (Off:0 Def:3),None,None
409,0022200639,563,1,1,4,12:30 AM,0:16,None,None,Caldwell-Pope 28' 3PT Jump Shot (14 PTS) (Brow...,115 - 103,-12
410,0022200639,565,2,6,4,12:30 AM,0:06,MISS Morris Sr. 4' Driving Layup,None,None,None,None
411,0022200639,566,4,0,4,12:30 AM,0:02,Leonard REBOUND (Off:3 Def:5),None,None,None,None
412,0022200639,569,13,0,4,12:30 AM,0:00,None,End of 4th Period (12:30 AM EST),None,115 - 103,-12

In [49]:
stat3.columns

Index(['GAME_ID', 'EVENTNUM', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD',
       'WCTIMESTRING', 'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION',
       'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN'],
      dtype='object')

In [50]:
from nba_api.stats.endpoints import leaguestandingsv3

# Player Stats by ID
career = leaguestandingsv3.LeagueStandingsV3(season=2022) 

# pandas data frames 
stat4 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [51]:
stat4

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,TeamSlug,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,DivisionRecord,DivisionRank,WINS,LOSSES,WinPCT,LeagueRank,Record,HOME,ROAD,L10,Last10Home,Last10Road,OT,ThreePTSOrLess,TenPTSOrMore,LongHomeStreak,strLongHomeStreak,LongRoadStreak,strLongRoadStreak,LongWinStreak,LongLossStreak,CurrentHomeStreak,strCurrentHomeStreak,CurrentRoadStreak,strCurrentRoadStreak,CurrentStreak,strCurrentStreak,ConferenceGamesBack,DivisionGamesBack,ClinchedConferenceTitle,ClinchedDivisionTitle,ClinchedPlayoffBirth,ClinchedPlayIn,EliminatedConference,EliminatedDivision,AheadAtHalf,BehindAtHalf,TiedAtHalf,AheadAtThird,BehindAtThird,TiedAtThird,Score100PTS,OppScore100PTS,OppOver500,LeadInFGPCT,LeadInReb,FewerTurnovers,PointsPG,OppPointsPG,DiffPointsPG,vsEast,vsAtlantic,vsCentral,vsSoutheast,vsWest,vsNorthwest,vsPacific,vsSouthwest,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Score_80_Plus,Opp_Score_80_Plus,Score_Below_80,Opp_Score_Below_80,TotalPoints,OppTotalPoints,DiffTotalPoints,LeagueGamesBack,PlayoffSeeding,ClinchedPostSeason
0,00,22022,1610612743,Denver,Nuggets,nuggets,West,34-18,1,- w,Northwest,10-6,1,53,29,0.646,0,53-29,34-7,19-22,5-5,7-3,3-7,3-0,7-6,29-15,16,W 16,-4,L 4,9,4,2,W 2,-4,L 4,1,W 1,0.0,0.0,1,1,1,0,0,0,33-9,18-20,2-0,41-4,10-24,2-1,51-21,45-29,36-18,48-8,39-9,24-7,115.8,112.5,3.3,19-11,4-6,7-3,8-2,34-18,10-6,13-5,11-7,12-4,9-3,7-7,2-3,None,None,None,None,None,4-3,10-4,9-5,53-29,53-29,0-0,0-0,9495,9222,273,5.0,1.0,None
1,00,22022,1610612749,Milwaukee,Bucks,bucks,East,35-17,1,- e,Central,11-5,1,58,24,0.707,0,58-24,32-9,26-15,6-4,6-4,7-3,3-2,6-1,30-15,11,W 11,9,W 9,16,4,-1,L 1,-1,L 1,-2,L 2,0.0,0.0,1,1,1,0,0,0,44-7,11-16,3-1,51-3,7-21,0-0,57-18,47-23,28-15,50-2,44-9,15-6,116.9,113.3,3.6,35-17,12-6,11-5,12-6,23-7,9-1,8-2,6-4,11-5,10-0,11-5,3-2,None,None,None,None,None,6-0,9-5,8-7,58-24,58-24,0-0,0-0,9589,9291,298,0.0,1.0,None
2,00,22022,1610612738,Boston,Celtics,celtics,East,34-18,2,- a,Atlantic,11-5,1,57,25,0.695,0,57-25,32-9,25-16,8-2,8-2,5-5,4-7,5-8,31-11,10,W 10,6,W 6,9,3,7,W 7,-1,L 1,3,W 3,1.0,0.0,0,1,1,0,0,0,45-9,10-16,2-0,51-7,5-18,1-0,56-19,43-23,33-14,42-4,36-7,25-9,117.9,111.4,6.5,34-18,11-5,11-7,12-6,23-7,7-3,7-3,9-1,10-5,8-3,10-6,3-1,None,None,None,None,None,4-2,14-2,8-6,57-25,57-25,0-0,0-0,9671,9136,535,1.0,2.0,None
3,00,22022,1610612763,Memphis,Grizzlies,grizzlies,West,30-22,2,- sw,Southwest,13-3,1,51,31,0.622,0,51-31,35-6,16-25,6-4,9-1,4-6,3-1,3-6,31-17,12,W 12,-8,L 8,11,5,2,W 2,-1,L 1,-1,L 1,2.0,0.0,0,1,1,0,0,0,43-13,8-18,0-0,44-8,7-21,0-2,51-27,43-31,22-18,41-6,36-16,31-14,116.9,113.0,3.9,21-9,5-5,8-2,8-2,30-22,9-9,8-10,13-3,10-5,5-5,12-5,2-3,None,None,None,None,None,4-3,8-6,10-4,51-31,51-31,0-0,0-0,9587,9264,323,7.0,2.0,None
4,00,22022,1610612758,Sacramento,Kings,kings,West,32-20,3,- p,Pacific,9-7,1,48,34,0.585,0,48-34,23-18,25-16,5-5,4-6,7-3,4-1,9-7,19-13,6,W 6,7,W 7,7,4,-3,L 3,-2,L 2,-3,L 3,5.0,0.0,0,1,1,0,0,0,30-11,16-22,2-1,38-3,9-27,1-4,48-30,44-34,18-23,32-5,28-10,29-16,120.7,118.1,2.6,16-14,4-6,7-3,5-5,32-20,11-7,9-7,12-6,9-6,8-4,11-5,1-4,None,None,None,None,None,2-4,9-5,8-6,48-34,48-34,0-0,0-0,9898,9681,217,10.0,3.0,None
5,00,22022,1610612755,Philadelphia,76ers,sixers,East,34-18,3,- x,Atlantic,10-6,2,54,28,0.659,0,54-28,29-12,25-16,5-5,6-4,6-4,4-2,10-5,26-11,11,W 11,8,W 8,8,3,-1,L 1,2,W 2,2,W 2,4.0,3.0,0,0,1,0,0,0,34-4,19-23,1-1,40-3,9-25,5-0,54-22,40-27,29-18,36-11,31-4,32-13,115.2,110.9,4.3,34-18,10-6,13-5,11-7,20-10,7-3,8-2,5-5,11-3,7-4,12-5,3-2,None,None,None,None,None,4-4,8-6,9-4,54-28,54-28,0-0,0-0,9448,9094,354,4.0,3.0,None
6,00,22022,1610612739,Cleveland,Cavaliers,cavaliers,East,34-18,4,- x,Central,13-3,2,51,31,0.622,0,51-31,31-10,20-21,7-3,6-4,7-3,7-0,5-8,33-11,7,W 7,-5,L 5,8,5,-1,L 1,2,W 2,-1,L 1,7.0,7.0,0,0,1,0,0,0,35-10,16-18,0-3,37-8,14-21,0-2,49-25,28-30,24-18,33-11,32-7,31-22,112.3,106.9,5.4,34-18,8-10,13-3,13-5,17-13,4-6,5-5,8-2,8-8,8-3,9-5,3-1,None,None,None,None,None,5-1,9-7,9-6,51-31,51-31,0-0,0-0,9205,8764,441,7.0,4.0,None
7,00,22022,1610612756,Phoenix,Suns,suns,West,30-22,4,- x,Pacific,9-7,2,45,37,0.549,0,45-37,28-13,17-24,7-3,7-3,5-5,1-3,4-9,28-17,7,W 7,4,W 4,7,6,-1,L 1,-1,L 1,-2,L 2,8.0,3.0,0,0,1,0,0,0,36-9,9-28,0-0,41-7,4-30,0-0,45-27,35-35,23-24,36-8,29-14,29-16,113.6,111.6,2.1,15-15,6-4,6-4,3-7,30-22,11-7,9-7,10-8,7-8,6-4,9-6,3-2,None,None,None,None,None,5-1,10-5,5-11,45-37,45-37,0-0,0-0,9319,9149,170,13.0,4.0,None
8,00,22022,1610612746,LA,Clippers,clippers,West,27-25,5,- x,Pacific,9-7,3,44,38,0.537,0,44-38,23-18,21-20,6-4,7-3,5-5,2-3,4-6,20-21,4,W 4,-5,L 5,5,6,3,W 3,1,W 1,3,W 3,9.0,4.0,0,0,1,0,0,0,24-9,16-28,4-1,33-10,9-26,2-2,41-28,35-38,20-25,32-10,28-8,20-10,113.6,113.1,0.5,17-13,6-4,6-4,5-5,27-25,6-12,9-7,12-6,8-8,4-6,8-6,3-1,None,None,None,None,None,3-4,10-6,8-7,44-38,44-38,0-0,0-0,9314,9273,41,14.0,5.0,None
9,00,22022,1610612752,New York,Knicks,knicks,East,32-20,5,- x,Atlantic,8-8,3,47,35,0.573,0,47-35,23-18,24-17,5-5,7-3,5-5,4-6,10-4,23-13,6,W 6,6,W 6,9,5,-1,L 1,-1,L 1,-2,L 2,11.0,10.0,0,0,1,0,0,0,37-12,10-22,0-1,38-9,7-23,2-3,46-31,36-35,25-20,36-12,39-16,18-13,116.0,113.1,2.9,32-20,8-8,12-6,12-6,15-15,7-3,4-6,4-6,8-7,9-2,9-6,2-2,None,None,None,None,None,3-3,7-9,9-6,47-35,47-35,0-0,0-0,9514,9274,240,11.0,5.0,None
10,00,22022,1610612744,Golden State,Warriors,warriors,West,30-22,6,- x,Pacific,7-9,4,44,38,0.537,0,44-38,33-8,11-30,8-2,9-1,4-6,2-3,4-8,24-16,10,W 10,-11,L 11,5,5,3,W 3,2,W 2,3,W 3,9.0,4.0,0,0,1,0,0,0,34-12,10-26,0-0,32-6,10-31,2-1,44-35,40-37,21-21,38-8,31-12,13-12,118.9,117.1,1.8,14-16,5-5,4-6,5-5,30-22,10-8,7-9,13-5,7-6,6-6,9-7,3-1,None,None,None,None,None,3-4,8-7,8-7,44-38,44-38,0-0,0-0,9753,9605,148,14.0,6.0,None
11,00,22022,1610612751,Brooklyn,Nets,nets,East,30-22,6,- x,Atlantic,7-9,4,45,37,0.549,0,45-37,23-18,22-19,6-4,4-6,6-4,1-1,10-4,22-17,6,W 6,7,W 7,12,5,-1,L 1,1,W 1,-1,L 1,13.0,12.0,0,0,1,0,0,0,28-12,17-24,0-1,36-7,8-30,1-0,44-27,36-36,26-24,39-12,16-6,25-16,113.4,112.5,0.9,30-22,7-9,7-11,16-2,15-15,6-4,4-6,5-5,7-7,3-8,8-8,3-2,None,None,None,None,None,2-5,10-6,12-1,45-37,45-37,0-0,0-0,9295,9225,70,13.0,6.0,None
12,00,22022,1610612747,Los Angeles,Lakers,lakers,West,27-25,7,- pi,Pacific,6-10,5,43,39,0.524,0,43-39,23-18,20-21,8-2,7-3,7-3,3-4,8-5,19-19,3,W 3,-6,L 6,5,5,2,W 2,-1,L 1,2,W 2,10.0,5.0,0,0,0,1,0,0,29-10,13-25,1-4,35-5,7-33,1-1,43-36,41-39,18-32,37-11,32-14,15-13,117.2,116.6,0.6,16-14,3-7,5-5,8-2,27-25,9-9,6-10,12-6,9-7,5-5,10-5,4-1,None,None,None,None,None,1-5,7-7,7-9,43-39,43-39,0-0,0-0,9608,9561,47,15.0,7.0,None
13,00,22022,1610612748,Miami,Heat,heat,East,24-28,7,- se,Southeast,10-6,1,44,38,0.537,0,44-38,27-14,17-24,6-4,8-2,4-6,3-2,14-8,12-13,8,W 8,-7,L 7,4,4,2,W 2,-1,L 1,1,W 1,14.0,0.0,0,1,0,1,0,0,30-10,13-26,1-2,26-5,15-32,3-1,41-27,32-37,25-24,25-4,26-10,28-23,109.5,109.8,-0.3,24-28,6-12,8-10,10-6,20-10,6-4,7-3,7-3,10-5,4-6,7-8,4-1,None,None,None,None,None,2-5,8-7,9-6,44-38,44-38,0-0,0-0,8977,9003,-26,14.0,8.0,None
14,00,22022,1610612737,Atlanta,Hawks,hawks,East,26-26,8,- pi,Southeast,8-8,2,41,41,0.500,0,41-41,24-17,17-24,5-5,6-4,3-7,4-2,10-7,19-15,3,W 3,-5,L 5,5,4,-1,L 1,-1,L 1,-2,L 2,17.0,3.0,0,0,0,1,0,0,31-12,9-29,1-0,35-9,5-29,1-3,41-39,37-41,21-25,32-7,25-15,26-23,118.4,118.1,0.3,26-26,6-12,12-6,8-8,15-15,4-6,6-4,5-5,8-7,6-5,7-8,3-2,None,None,None,None,None,4-3,8-7,5-9,41-41,41-41,0-0,0-0,9711,9687,24,17.0,7.0,None
15,00,22022,1610612750,Minnesota,Timberwolves,timberwolves,West,29-23,8,- pi,Northwest,8-8,2,42,40,0.512,0,42-40,22-19,20-21,7-3,3-7,7-3,1-4,6-7,15-16,5,W 5,4,W 4,5,6,1,W 1,2,W 2,3,W 3,11.0,11.0,0,0,0,1,0,0,28-18,13-21,1-1,32-9,8-30,2-1,41-36,39-39,28-25,36-15,19-12,24-14,115.8,115.8,0.0,13-17,4-6,5-5,4-6,29-23,8-8,10-8,11-7,11-5,5-6,7-7,3-1,None,None,None,None,None,4-3,7-8,5-10,42-40,42-40,0-0,0-0,9494,9497,-3,16.0,8.0,None
16,00,22022,1610612740,New Orleans,Pelicans,pelicans,West,29-23,9,- pi,Southwest,11-5,2,42,40,0.512,0,42-40,27-14,15-26,7-3,7-3,5-5,3-4,4-6,25-20,7,W 7,-6,L 6,7,10,2,W 2,-1,L 1,-1,L 1,11.0,9.0,0,0,0,1,0,0,31-13,9-26,2-1,34-8,7-32,1-0,42-33,33-39,19-29,35-10,34-14,19-15,114.4,112.5,1.9,13-17,4-6,5-5,4-6,29-23,9-9,9-9,11-5,3-13,4-6,9-6,3-2,None,None,None,None,None,4-2,9-6,10-5,42-40,42-40,0-0,0-0,9378,9223,155,16.0,NaN,None
17,00,22022,1610612761,Toronto,Raptors,raptors,East,26-26,9,- pi,Atlantic,4-12,5,41,41,0.500,0,41-41,27-14,14-27,6-4,9-1,3-7,2-3,4-10,23-16,7,W 7,-6,L 6,4,6,4,W 4,-2,L 2,1,W 1,17.0,16.0,0,0,0,1,0,0,33-11,6-29,2-1,35-11,5-29,1-1,39-35,33-40,19-25,21-6,30-16,33-30,112.9,111.4,1.5,26-26,4-12,10-8,12-6,15-15,5-5,3-7,7-3,7-9,8-3,7-7,3-2,None,None,None,None,None,4-3,7-7,5-10,41-41,41-41,0-0,0-0,9254,9133,121,17.0,NaN,None
18,00,22022,1610612741,Chicago,Bulls,bulls,East,27-25,10,- pi,Central,7-9,3,40,42,0.488,0,40-42,22-19,18-23,6-4,4-6,8-2,3-4,4-7,24-19,3,W 3,6,W 6,3,6,1,W 1,1,W 1,2,W 2,18.0,18.0,0,0,0,1,0,0,27-12,12-29,1-1,31-9,8-32,1-1,40-31,29-41,23-27,34-17,25-7,25-26,113.1,111.8,1.3,27-25,9-9,7-9,11-7,13-17,6-4,2-8,5-5,7-7,5-7,9-6,3-2,None,None,None,None,None,3-4,6-8,7-8,40-42,40-42,0-0,0-0,9276,9170,106,18.0,NaN,None
19,00,22022,1610612760,Oklahoma City,Thunder,thunder,West,25-27,10,- pi,Northwest,9-7,3,40,42,0.488,0,40-42,24-17,16-25,4-6,7-3,5-5,2-4,7-7,21-15,5,W 5,-6,L 6,4,5,1,W 1,1,W 1,2,W 2,13.0,13.0,0,0,0,1,0,0,26-8,13-30,1-4,29-11,8-30,3-1,40-40,33-42,23-28,30-10,23-9,33-31,117.5,116.4,1.1,15-15,6-4,5-5,4-6,25-27,9-7,6-12,10-8,9-5,4-7,10-7,2-2,None,None,None,None,None,3-3,6-10,6-8,40-42,40-42,0-0,0-0,9633,9544,89,18.0,NaN,None
20,00,22022,1610612742,Dallas,Mavericks,mavericks,West,28-24,11,- o,Southwest,9-7,3,38,44,0.463,0,38-44,23-18,15-26,2-8,3-7,3-7,4-5,8-12,11-12,6,W 6,-6,L 6,7,4,-2,L 2,-3,L 3,-2,L 2,15.0,13.0,0,0,0,0,1,1,26-14,10-30,2-0,29-11,8-32,1-1,36-36,32-42,21-25,24-9,10-4,20-22,114.2,114.1,0.1,10-20,6-4,2-8,2-8,28-24,9-9,10-8,9-7,6-9,5-6,5-9,1-4,None,None,None,None,None,3-3,7-7,11-6,38-44,38-44,0-0,0-0,9366,9360,6,20.0,NaN,None
21,00,22022,1610612754,Indiana,Pacers,pacers,East,24-28,11,- o,Central,7-9,4,35,47,0.427,0,35-47,20-21,15-26,3-7,3-7,5-5,1-2,8-7,9-25,6,W 6,-11,L 11,5,7,-2,L 2,1,W 1,1,W 1,23.0,23.0,0,0,0,0,1,1,21-13,14-34,0-0,23-9,9-36,3-2,34-42,32-46,16-29,26-10,17-10,18-22,116.3,119.5,-3.2,24-28,7-11,7-9,10-8,11-19,2-8,5-5,4-6,4-11,4-7,6-9,1-3,None,None,None,None,None,3-5,9-4,8-8,35-47,35-47,0-0,0-0,9535,9796,-261,23.0,NaN,None
22,00,22022,1610612762,Utah,Jazz,jazz,West,24-28,12,- o,Northwest,6-10,4,37,45,0.451,0,37-45,23-18,14-27,2-8,4-6,3-7,4-1,10-8,13-16,5,W 5,-6,L 6,4,5,1,W 1,-3,L 3,-1,L 1,16.0,16.0,0,0,0,0,1,1,26-9,10-35,1-1,27-9,8-33,2-3,37-40,37-45,21-30,25-15,24-23,11-13,117.1,118.0,-0.9,13-17,3-7,4-6,6-4,24-28,6-10,8-10,10-8,7-6,5-6,5-9,1-4,None,None,None,None,None,6-2,7-9,6-9,37-45,37-45,0-0,0-0,9600,9677,-77,21.0,NaN,None
23,00,22022,1610612764,Washington,Wizards,wizards,East,21-31,12,- o,Southeast,8-8,3,35,47,0.427,0,35-47,19-22,16-25,3-7,4-6,3-7,1-2,7-6,19-21,-4,L 4,-10,L 10,6,10,-1,L 1,-6,L 6,-1,L 1,23.0,9.0,0,0,0,0,1,1,26-14,8-31,1-2,30-8,5-37,0-2,35-39,30-47,19-27,31-11,26-16,10-16,113.2,114.4,-1.2,21-31,5-13,8-10,8-8,14-16,4-6,3-7,7-3,8-5,5-6,5-11,1-4,None,None,None,None,None,3-4,8-7,5-10,35-47,35-47,0-0,0-0,9279,9378,-99,23.0,NaN,None
24,00,22022,1610612753,Orlando,Magic,magic,East,20-32,13,- o,Southeast,7-9,4,34,48,0.415,0,34-48,20-21,14-27,5-5,5-5,3-7,2-2,5-6,16-24,-6,L 6,-6,L 6,6,9,-2,L 2,-2,L 2,-4,L 4,24.0,10.0,0,0,0,0,1,1,25-11,7-35,2-2,24-6,9-41,1-1,32-40,26-48,19-30,30-11,25-17,15-23,111.4,114.0,-2.6,20-32,8-10,5-13,7-9,14-16,4-6,5-5,5-5,7-7,6-5,7-8,1-4,None,None,None,None,None,1-6,4-11,8-7,34-48,34-48,0-0,0-0,9136,9346,-210,24.0,NaN,None
25,00,22022,1610612757,Portland,Trail Blazers,blazers,West,23-29,13,- o,Northwest,7-9,5,33,49,0.402,0,33-49,17-24,16-25,1-9,0-10,4-6,2-0,8-7,18-28,-10,L 10,-8,L 8,4,6,-10,L 10,-3,L 3,-4,L 4,20.0,20.0,0,0,0,0,1,1,21-14,11-34,1-1,25-11,6-36,2-2,33-38,30-49,17-30,25-12,21-15,14-17,113.4,117.4,-4.0,10-20,1-9,3-7,6-4,23-29,7-9,6-12,10-8,6-9,5-6,3-13,1-4,None,None,None,None,None,5-1,6-10,7-6,33-49,33-49,0-0,0-0,9299,9628,-329,25.0,NaN,None
26,00,22022,1610612745,Houston,Rockets,rockets,West,12-40,14,- o,Southwest,4-12,4,22,60,0.268,0,22-60,14-27,8-33,4-6,5-5,3-7,1-1,5-4,6-36,-10,L 10,-8,L 8,3,13,1,W 1,2,W 2,3,W 3,31.0,29.0,0,0,0,0,0,0,14-16,7-44,1-0,15-12,7-48,0-0,21-49,19-57,10-38,14-14,19-34,6-10,110.7,118.6,-7.9,10-20,2-8,4-6,4-6,12-40,5-13,3-15,4-12,2-12,1-10,6-11,3-1,None,None,None,None,None,1-7,4-9,5-10,22-60,22-60,0-0,0-0,9081,9725,-644,36.0,NaN,None
27,00,22022,1610612766,Charlotte,Hornets,hornets,East,15-37,14,- o,Southeast,7-9,5,27,55,0.329,0,27-55,13-28,14-27,5-5,2-8,6-4,1-4,3-3,8-35,-6,L 6,-7,L 7,5,8,-4,L 4,3,W 3,1,W 1,31.0,17.0,0,0,0,0,1,1,15-8,11-45,1-2,18-6,9-48,0-1,27-42,25-54,15-31,21-7,16-17,12-30,111.0,117.2,-6.2,15-37,2-16,6-12,7-9,12-18,4-6,3-7,5-5,5-10,5-6,6-9,1-3,None,None,None,None,None,3-4,3-11,4-12,27-55,27-55,0-0,0-0,9098,9610,-512,31.0,NaN,None
28,00,22022,1610612765,Detroit,Pistons,pistons,East,8-44,15,- o,Central,2-14,5,17,65,0.207,0,17-65,9-32,8-33,1-9,1-9,1-9,3-1,2-8,6-37,-6,L 6,-13,L 13,2,11,-5,L 5,-1,L 1,-1,L 1,41.0,41.0,0,0,0,0,1,1,12-14,5-50,0-1,14-6,2-55,1-4,17-51,15-63,7-39,14-12,11-14,11-18,110.3,118.5,-8.2,8-44,1-17,2-14,5-13,9-21,5-5,2-8,2-8,3-10,2-8,1-14,1-4,None,None,None,None,None,2-6,3-12,5-11,17-65,17-65,0-0,0-0,9045,9719,-674,41.0,NaN,None
29,00,22022,1610612759,San Antonio,Spurs,spurs,West,10-42,15,- o,Southwest,3-13,5,22,60,0.268,0,22-60,14-27,8-33,3-7,4-6,3-7,1-5,3-3,6-42,-5,L 5,-18,L 18,3,16,-1,L 1,1,W 1,1,W 1,31.0,29.0,0,0,0,0,0,0,17-11,4-47,1-2,18-8,3-52,1-0,22-48,17-60,12-36,19-3,15-17,5-25,113.0,123.1,-10.0,12-18,3-7,6-4,3-7,10-42,6-12,1-17,3-13,2-13,1-10,4-11,3-2,None,None,None,None,None,5-2,1-14,6-8,22-60,22-60,0-0,0-0,9269,10092,-823,36.0,NaN,None

In [52]:
stat4.head()

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,TeamSlug,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,DivisionRecord,DivisionRank,WINS,LOSSES,WinPCT,LeagueRank,Record,HOME,ROAD,L10,Last10Home,Last10Road,OT,ThreePTSOrLess,TenPTSOrMore,LongHomeStreak,strLongHomeStreak,LongRoadStreak,strLongRoadStreak,LongWinStreak,LongLossStreak,CurrentHomeStreak,strCurrentHomeStreak,CurrentRoadStreak,strCurrentRoadStreak,CurrentStreak,strCurrentStreak,ConferenceGamesBack,DivisionGamesBack,ClinchedConferenceTitle,ClinchedDivisionTitle,ClinchedPlayoffBirth,ClinchedPlayIn,EliminatedConference,EliminatedDivision,AheadAtHalf,BehindAtHalf,TiedAtHalf,AheadAtThird,BehindAtThird,TiedAtThird,Score100PTS,OppScore100PTS,OppOver500,LeadInFGPCT,LeadInReb,FewerTurnovers,PointsPG,OppPointsPG,DiffPointsPG,vsEast,vsAtlantic,vsCentral,vsSoutheast,vsWest,vsNorthwest,vsPacific,vsSouthwest,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Score_80_Plus,Opp_Score_80_Plus,Score_Below_80,Opp_Score_Below_80,TotalPoints,OppTotalPoints,DiffTotalPoints,LeagueGamesBack,PlayoffSeeding,ClinchedPostSeason
0,00,22022,1610612743,Denver,Nuggets,nuggets,West,34-18,1,- w,Northwest,10-6,1,53,29,0.646,0,53-29,34-7,19-22,5-5,7-3,3-7,3-0,7-6,29-15,16,W 16,-4,L 4,9,4,2,W 2,-4,L 4,1,W 1,0.0,0.0,1,1,1,0,0,0,33-9,18-20,2-0,41-4,10-24,2-1,51-21,45-29,36-18,48-8,39-9,24-7,115.8,112.5,3.3,19-11,4-6,7-3,8-2,34-18,10-6,13-5,11-7,12-4,9-3,7-7,2-3,None,None,None,None,None,4-3,10-4,9-5,53-29,53-29,0-0,0-0,9495,9222,273,5.0,1.0,None
1,00,22022,1610612749,Milwaukee,Bucks,bucks,East,35-17,1,- e,Central,11-5,1,58,24,0.707,0,58-24,32-9,26-15,6-4,6-4,7-3,3-2,6-1,30-15,11,W 11,9,W 9,16,4,-1,L 1,-1,L 1,-2,L 2,0.0,0.0,1,1,1,0,0,0,44-7,11-16,3-1,51-3,7-21,0-0,57-18,47-23,28-15,50-2,44-9,15-6,116.9,113.3,3.6,35-17,12-6,11-5,12-6,23-7,9-1,8-2,6-4,11-5,10-0,11-5,3-2,None,None,None,None,None,6-0,9-5,8-7,58-24,58-24,0-0,0-0,9589,9291,298,0.0,1.0,None
2,00,22022,1610612738,Boston,Celtics,celtics,East,34-18,2,- a,Atlantic,11-5,1,57,25,0.695,0,57-25,32-9,25-16,8-2,8-2,5-5,4-7,5-8,31-11,10,W 10,6,W 6,9,3,7,W 7,-1,L 1,3,W 3,1.0,0.0,0,1,1,0,0,0,45-9,10-16,2-0,51-7,5-18,1-0,56-19,43-23,33-14,42-4,36-7,25-9,117.9,111.4,6.5,34-18,11-5,11-7,12-6,23-7,7-3,7-3,9-1,10-5,8-3,10-6,3-1,None,None,None,None,None,4-2,14-2,8-6,57-25,57-25,0-0,0-0,9671,9136,535,1.0,2.0,None
3,00,22022,1610612763,Memphis,Grizzlies,grizzlies,West,30-22,2,- sw,Southwest,13-3,1,51,31,0.622,0,51-31,35-6,16-25,6-4,9-1,4-6,3-1,3-6,31-17,12,W 12,-8,L 8,11,5,2,W 2,-1,L 1,-1,L 1,2.0,0.0,0,1,1,0,0,0,43-13,8-18,0-0,44-8,7-21,0-2,51-27,43-31,22-18,41-6,36-16,31-14,116.9,113.0,3.9,21-9,5-5,8-2,8-2,30-22,9-9,8-10,13-3,10-5,5-5,12-5,2-3,None,None,None,None,None,4-3,8-6,10-4,51-31,51-31,0-0,0-0,9587,9264,323,7.0,2.0,None
4,00,22022,1610612758,Sacramento,Kings,kings,West,32-20,3,- p,Pacific,9-7,1,48,34,0.585,0,48-34,23-18,25-16,5-5,4-6,7-3,4-1,9-7,19-13,6,W 6,7,W 7,7,4,-3,L 3,-2,L 2,-3,L 3,5.0,0.0,0,1,1,0,0,0,30-11,16-22,2-1,38-3,9-27,1-4,48-30,44-34,18-23,32-5,28-10,29-16,120.7,118.1,2.6,16-14,4-6,7-3,5-5,32-20,11-7,9-7,12-6,9-6,8-4,11-5,1-4,None,None,None,None,None,2-4,9-5,8-6,48-34,48-34,0-0,0-0,9898,9681,217,10.0,3.0,None

In [53]:
stat4[stat4['Division'] == 'Atlantic']

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,TeamSlug,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,DivisionRecord,DivisionRank,WINS,LOSSES,WinPCT,LeagueRank,Record,HOME,ROAD,L10,Last10Home,Last10Road,OT,ThreePTSOrLess,TenPTSOrMore,LongHomeStreak,strLongHomeStreak,LongRoadStreak,strLongRoadStreak,LongWinStreak,LongLossStreak,CurrentHomeStreak,strCurrentHomeStreak,CurrentRoadStreak,strCurrentRoadStreak,CurrentStreak,strCurrentStreak,ConferenceGamesBack,DivisionGamesBack,ClinchedConferenceTitle,ClinchedDivisionTitle,ClinchedPlayoffBirth,ClinchedPlayIn,EliminatedConference,EliminatedDivision,AheadAtHalf,BehindAtHalf,TiedAtHalf,AheadAtThird,BehindAtThird,TiedAtThird,Score100PTS,OppScore100PTS,OppOver500,LeadInFGPCT,LeadInReb,FewerTurnovers,PointsPG,OppPointsPG,DiffPointsPG,vsEast,vsAtlantic,vsCentral,vsSoutheast,vsWest,vsNorthwest,vsPacific,vsSouthwest,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Score_80_Plus,Opp_Score_80_Plus,Score_Below_80,Opp_Score_Below_80,TotalPoints,OppTotalPoints,DiffTotalPoints,LeagueGamesBack,PlayoffSeeding,ClinchedPostSeason
2,00,22022,1610612738,Boston,Celtics,celtics,East,34-18,2,- a,Atlantic,11-5,1,57,25,0.695,0,57-25,32-9,25-16,8-2,8-2,5-5,4-7,5-8,31-11,10,W 10,6,W 6,9,3,7,W 7,-1,L 1,3,W 3,1.0,0.0,0,1,1,0,0,0,45-9,10-16,2-0,51-7,5-18,1-0,56-19,43-23,33-14,42-4,36-7,25-9,117.9,111.4,6.5,34-18,11-5,11-7,12-6,23-7,7-3,7-3,9-1,10-5,8-3,10-6,3-1,None,None,None,None,None,4-2,14-2,8-6,57-25,57-25,0-0,0-0,9671,9136,535,1.0,2.0,None
5,00,22022,1610612755,Philadelphia,76ers,sixers,East,34-18,3,- x,Atlantic,10-6,2,54,28,0.659,0,54-28,29-12,25-16,5-5,6-4,6-4,4-2,10-5,26-11,11,W 11,8,W 8,8,3,-1,L 1,2,W 2,2,W 2,4.0,3.0,0,0,1,0,0,0,34-4,19-23,1-1,40-3,9-25,5-0,54-22,40-27,29-18,36-11,31-4,32-13,115.2,110.9,4.3,34-18,10-6,13-5,11-7,20-10,7-3,8-2,5-5,11-3,7-4,12-5,3-2,None,None,None,None,None,4-4,8-6,9-4,54-28,54-28,0-0,0-0,9448,9094,354,4.0,3.0,None
9,00,22022,1610612752,New York,Knicks,knicks,East,32-20,5,- x,Atlantic,8-8,3,47,35,0.573,0,47-35,23-18,24-17,5-5,7-3,5-5,4-6,10-4,23-13,6,W 6,6,W 6,9,5,-1,L 1,-1,L 1,-2,L 2,11.0,10.0,0,0,1,0,0,0,37-12,10-22,0-1,38-9,7-23,2-3,46-31,36-35,25-20,36-12,39-16,18-13,116.0,113.1,2.9,32-20,8-8,12-6,12-6,15-15,7-3,4-6,4-6,8-7,9-2,9-6,2-2,None,None,None,None,None,3-3,7-9,9-6,47-35,47-35,0-0,0-0,9514,9274,240,11.0,5.0,None
11,00,22022,1610612751,Brooklyn,Nets,nets,East,30-22,6,- x,Atlantic,7-9,4,45,37,0.549,0,45-37,23-18,22-19,6-4,4-6,6-4,1-1,10-4,22-17,6,W 6,7,W 7,12,5,-1,L 1,1,W 1,-1,L 1,13.0,12.0,0,0,1,0,0,0,28-12,17-24,0-1,36-7,8-30,1-0,44-27,36-36,26-24,39-12,16-6,25-16,113.4,112.5,0.9,30-22,7-9,7-11,16-2,15-15,6-4,4-6,5-5,7-7,3-8,8-8,3-2,None,None,None,None,None,2-5,10-6,12-1,45-37,45-37,0-0,0-0,9295,9225,70,13.0,6.0,None
17,00,22022,1610612761,Toronto,Raptors,raptors,East,26-26,9,- pi,Atlantic,4-12,5,41,41,0.500,0,41-41,27-14,14-27,6-4,9-1,3-7,2-3,4-10,23-16,7,W 7,-6,L 6,4,6,4,W 4,-2,L 2,1,W 1,17.0,16.0,0,0,0,1,0,0,33-11,6-29,2-1,35-11,5-29,1-1,39-35,33-40,19-25,21-6,30-16,33-30,112.9,111.4,1.5,26-26,4-12,10-8,12-6,15-15,5-5,3-7,7-3,7-9,8-3,7-7,3-2,None,None,None,None,None,4-3,7-7,5-10,41-41,41-41,0-0,0-0,9254,9133,121,17.0,NaN,None

In [54]:
stat4.columns

Index(['LeagueID', 'SeasonID', 'TeamID', 'TeamCity', 'TeamName', 'TeamSlug',
       'Conference', 'ConferenceRecord', 'PlayoffRank', 'ClinchIndicator',
       'Division', 'DivisionRecord', 'DivisionRank', 'WINS', 'LOSSES',
       'WinPCT', 'LeagueRank', 'Record', 'HOME', 'ROAD', 'L10', 'Last10Home',
       'Last10Road', 'OT', 'ThreePTSOrLess', 'TenPTSOrMore', 'LongHomeStreak',
       'strLongHomeStreak', 'LongRoadStreak', 'strLongRoadStreak',
       'LongWinStreak', 'LongLossStreak', 'CurrentHomeStreak',
       'strCurrentHomeStreak', 'CurrentRoadStreak', 'strCurrentRoadStreak',
       'CurrentStreak', 'strCurrentStreak', 'ConferenceGamesBack',
       'DivisionGamesBack', 'ClinchedConferenceTitle', 'ClinchedDivisionTitle',
       'ClinchedPlayoffBirth', 'ClinchedPlayIn', 'EliminatedConference',
       'EliminatedDivision', 'AheadAtHalf', 'BehindAtHalf', 'TiedAtHalf',
       'AheadAtThird', 'BehindAtThird', 'TiedAtThird', 'Score100PTS',
       'OppScore100PTS', 'OppOver500', 'LeadInFGPCT', 'LeadInReb',
       'FewerTurnovers', 'PointsPG', 'OppPointsPG', 'DiffPointsPG', 'vsEast',
       'vsAtlantic', 'vsCentral', 'vsSoutheast', 'vsWest', 'vsNorthwest',
       'vsPacific', 'vsSouthwest', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Score_80_Plus',
       'Opp_Score_80_Plus', 'Score_Below_80', 'Opp_Score_Below_80',
       'TotalPoints', 'OppTotalPoints', 'DiffTotalPoints', 'LeagueGamesBack',
       'PlayoffSeeding', 'ClinchedPostSeason'],
      dtype='object')

In [55]:
from nba_api.stats.endpoints import leagueleaders

# Player Stats by ID
career = leagueleaders.LeagueLeaders(season='2022-23') 

# pandas data frames 
stat5 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [56]:
stat5.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1628369,1,Jayson Tatum,1610612738,BOS,74,2732,727,1559,0.466,240,686,0.350,531,622,0.854,78,571,649,342,78,51,213,160,2225,2209,1.61,0.37
1,203954,2,Joel Embiid,1610612755,PHI,66,2284,728,1328,0.548,66,200,0.330,661,771,0.857,113,557,670,274,66,112,226,205,2183,2369,1.21,0.29
2,1629029,3,Luka Doncic,1610612742,DAL,66,2391,719,1449,0.496,185,541,0.342,515,694,0.742,54,515,569,529,90,33,236,166,2138,2214,2.24,0.38
3,1628983,4,Shai Gilgeous-Alexander,1610612760,OKC,68,2416,704,1381,0.510,58,168,0.345,669,739,0.905,59,270,329,371,112,65,192,192,2135,2073,1.93,0.58
4,203507,5,Giannis Antetokounmpo,1610612749,MIL,63,2024,707,1278,0.553,47,171,0.275,498,772,0.645,137,605,742,359,52,51,246,197,1959,2072,1.46,0.21
5,1630162,6,Anthony Edwards,1610612750,MIN,79,2841,707,1541,0.459,213,578,0.369,319,422,0.756,47,411,458,350,125,58,259,186,1946,1741,1.35,0.48
6,203944,7,Julius Randle,1610612752,NYK,77,2737,658,1432,0.459,218,636,0.343,402,531,0.757,141,626,767,316,49,21,216,233,1936,1970,1.46,0.23
7,1628378,8,Donovan Mitchell,1610612739,CLE,68,2432,679,1402,0.484,245,635,0.386,319,368,0.867,63,226,289,301,99,27,180,168,1922,1686,1.67,0.55
8,1629027,9,Trae Young,1610612737,ATL,73,2541,597,1390,0.429,154,460,0.335,566,639,0.886,56,161,217,741,80,9,300,104,1914,1795,2.47,0.27
9,203897,10,Zach LaVine,1610612741,CHI,77,2768,673,1388,0.485,204,544,0.375,363,428,0.848,42,303,345,327,69,18,194,159,1913,1698,1.69,0.36

In [57]:
stat5.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1628369,1,Jayson Tatum,1610612738,BOS,74,2732,727,1559,0.466,240,686,0.350,531,622,0.854,78,571,649,342,78,51,213,160,2225,2209,1.61,0.37
1,203954,2,Joel Embiid,1610612755,PHI,66,2284,728,1328,0.548,66,200,0.330,661,771,0.857,113,557,670,274,66,112,226,205,2183,2369,1.21,0.29
2,1629029,3,Luka Doncic,1610612742,DAL,66,2391,719,1449,0.496,185,541,0.342,515,694,0.742,54,515,569,529,90,33,236,166,2138,2214,2.24,0.38
3,1628983,4,Shai Gilgeous-Alexander,1610612760,OKC,68,2416,704,1381,0.510,58,168,0.345,669,739,0.905,59,270,329,371,112,65,192,192,2135,2073,1.93,0.58
4,203507,5,Giannis Antetokounmpo,1610612749,MIL,63,2024,707,1278,0.553,47,171,0.275,498,772,0.645,137,605,742,359,52,51,246,197,1959,2072,1.46,0.21
5,1630162,6,Anthony Edwards,1610612750,MIN,79,2841,707,1541,0.459,213,578,0.369,319,422,0.756,47,411,458,350,125,58,259,186,1946,1741,1.35,0.48
6,203944,7,Julius Randle,1610612752,NYK,77,2737,658,1432,0.459,218,636,0.343,402,531,0.757,141,626,767,316,49,21,216,233,1936,1970,1.46,0.23
7,1628378,8,Donovan Mitchell,1610612739,CLE,68,2432,679,1402,0.484,245,635,0.386,319,368,0.867,63,226,289,301,99,27,180,168,1922,1686,1.67,0.55
8,1629027,9,Trae Young,1610612737,ATL,73,2541,597,1390,0.429,154,460,0.335,566,639,0.886,56,161,217,741,80,9,300,104,1914,1795,2.47,0.27
9,203897,10,Zach LaVine,1610612741,CHI,77,2768,673,1388,0.485,204,544,0.375,363,428,0.848,42,303,345,327,69,18,194,159,1913,1698,1.69,0.36

In [58]:
stat5[stat5['TEAM'] == 'CHI']

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
9,203897,10,Zach LaVine,1610612741,CHI,77,2768,673,1388,0.485,204,544,0.375,363,428,0.848,42,303,345,327,69,18,194,159,1913,1698,1.69,0.36
12,201942,13,DeMar DeRozan,1610612741,CHI,74,2682,657,1303,0.504,46,142,0.324,456,523,0.872,34,309,343,377,83,36,153,186,1816,1789,2.46,0.54
36,202696,37,Nikola Vucevic,1610612741,CHI,82,2746,597,1148,0.520,121,347,0.349,132,158,0.835,159,744,903,265,60,57,139,179,1447,2016,1.91,0.43
119,1630172,119,Patrick Williams,1610612741,CHI,82,2323,314,677,0.464,115,277,0.415,90,105,0.857,78,249,327,100,72,70,101,147,833,923,0.99,0.71
145,1629632,146,Coby White,1610612741,CHI,74,1730,263,594,0.443,128,344,0.372,61,70,0.871,16,196,212,204,54,6,74,122,715,777,2.76,0.73
161,1630245,162,Ayo Dosunmu,1610612741,CHI,80,2098,281,570,0.493,59,189,0.312,66,82,0.805,45,175,220,206,62,26,99,182,687,797,2.08,0.63
256,201976,255,Patrick Beverley,1610612741,CHI,67,1817,144,360,0.400,80,239,0.335,47,65,0.723,44,203,247,194,63,41,60,187,415,666,3.23,1.05
259,203083,260,Andre Drummond,1610612741,CHI,67,849,166,274,0.606,0,3,0.000,67,125,0.536,138,306,444,33,45,27,75,117,399,707,0.44,0.60
269,1627936,270,Alex Caruso,1610612741,CHI,67,1575,130,286,0.455,55,151,0.364,59,73,0.808,42,154,196,193,98,46,77,159,374,660,2.51,1.27
290,1627884,291,Derrick Jones Jr.,1610612741,CHI,64,893,115,230,0.500,27,80,0.338,62,84,0.738,60,93,153,34,29,37,25,86,319,410,1.36,1.16
373,1629750,373,Javonte Green,1610612741,CHI,32,480,61,108,0.565,13,35,0.371,30,45,0.667,27,61,88,23,24,21,20,52,165,239,1.15,1.20
422,1630678,420,Terry Taylor,1610612741,CHI,31,263,39,75,0.520,5,19,0.263,6,11,0.545,27,20,47,10,3,6,9,26,89,105,1.11,0.33
424,1631207,425,Dalen Terry,1610612741,CHI,38,214,32,72,0.444,7,27,0.259,14,21,0.667,12,25,37,22,11,5,8,24,85,105,2.75,1.38
488,1630637,489,Carlik Jones,1610612741,CHI,7,56,6,15,0.400,3,6,0.500,5,8,0.625,1,4,5,6,2,0,2,2,20,19,3.00,1.00
493,1628396,493,Tony Bradley,1610612741,CHI,12,33,6,12,0.500,3,5,0.600,4,4,1.000,1,10,11,1,1,1,1,2,19,26,1.00,1.00
518,1630250,518,Marko Simonovic,1610612741,CHI,7,20,2,7,0.286,1,4,0.250,1,2,0.500,1,1,2,0,0,0,0,5,6,2,0.00,0.00
523,1630792,522,Malcolm Hill,1610612741,CHI,5,9,2,4,0.500,1,3,0.333,0,0,0.000,0,3,3,0,0,0,0,1,5,6,0.00,0.00

In [59]:
from nba_api.stats.endpoints import teamgamelog

# Player Stats by ID
career = teamgamelog.TeamGameLog(season=2022, team_id='1610612741') 

# pandas data frames 
stat6 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [60]:
stat6

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612741,0022201223,"APR 09, 2023",CHI vs. DET,W,40,42,0.488,240,40,95,0.421,6,30,0.200,17,22,0.773,11,37,48,21,15,7,3,16,103
1,1610612741,0022201210,"APR 07, 2023",CHI @ DAL,W,39,42,0.481,240,46,88,0.523,11,31,0.355,12,18,0.667,8,42,50,24,6,4,12,15,115
2,1610612741,0022201193,"APR 05, 2023",CHI @ MIL,L,38,42,0.475,240,36,83,0.434,11,33,0.333,9,11,0.818,5,33,38,28,10,3,15,11,92
3,1610612741,0022201182,"APR 04, 2023",CHI vs. ATL,L,38,41,0.481,240,41,89,0.461,7,31,0.226,16,20,0.800,6,26,32,16,8,6,8,18,105
4,1610612741,0022201165,"APR 02, 2023",CHI vs. MEM,W,38,40,0.487,240,50,94,0.532,9,31,0.290,19,22,0.864,4,32,36,29,9,6,1,13,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,1610612741,0022200061,"OCT 26, 2022",CHI vs. IND,W,3,2,0.600,240,43,87,0.494,16,30,0.533,22,24,0.917,9,35,44,34,10,5,17,25,124
78,1610612741,0022200047,"OCT 24, 2022",CHI vs. BOS,W,2,2,0.500,240,42,87,0.483,10,21,0.476,26,29,0.897,14,46,60,29,4,6,13,18,120
79,1610612741,0022200032,"OCT 22, 2022",CHI vs. CLE,L,1,2,0.333,240,34,84,0.405,7,29,0.241,21,25,0.840,10,25,35,19,12,7,10,19,96
80,1610612741,0022200019,"OCT 21, 2022",CHI @ WAS,L,1,1,0.500,240,33,79,0.418,7,27,0.259,27,33,0.818,10,28,38,19,8,3,13,15,100
81,1610612741,0022200007,"OCT 19, 2022",CHI @ MIA,W,1,0,1.000,240,41,93,0.441,13,36,0.361,21,28,0.750,12,34,46,23,12,6,14,26,116

In [61]:
from nba_api.stats.endpoints import teamdetails

# Player Stats by ID
career = teamdetails.TeamDetails(team_id='1610612741') 

# pandas data frames 
stat7 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [62]:
stat7

,TEAM_ID,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612741,CHI,Bulls,1966,Chicago,United Center,21711,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls

In [63]:
from nba_api.stats.endpoints import shotchartdetail

# Player Stats by ID
career = shotchartdetail.ShotChartDetail(team_id='1610612741', player_id='201942') 

# pandas data frames 
stat8 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [64]:
stat8

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,EVENT_TYPE,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0022300004,13,201942,DeMar DeRozan,1610612741,Chicago Bulls,1,10,46,Made Shot,Pullup Jump shot,2PT Field Goal,Mid-Range,Center(C),16-24 ft.,21,-48,210,1,1,20231103,CHI,BKN
1,Shot Chart Detail,0022300004,34,201942,DeMar DeRozan,1610612741,Chicago Bulls,1,7,55,Made Shot,Driving Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,1,-12,2,1,1,20231103,CHI,BKN
2,Shot Chart Detail,0022300004,47,201942,DeMar DeRozan,1610612741,Chicago Bulls,1,6,27,Made Shot,Pullup Jump shot,2PT Field Goal,Mid-Range,Center(C),16-24 ft.,19,-10,190,1,1,20231103,CHI,BKN
3,Shot Chart Detail,0022300004,50,201942,DeMar DeRozan,1610612741,Chicago Bulls,1,5,57,Made Shot,Jump Shot,3PT Field Goal,Left Corner 3,Left Side(L),24+ ft.,23,-234,4,1,1,20231103,CHI,BKN
4,Shot Chart Detail,0022300004,262,201942,DeMar DeRozan,1610612741,Chicago Bulls,2,2,8,Made Shot,Jump Shot,2PT Field Goal,Mid-Range,Center(C),16-24 ft.,17,-17,176,1,1,20231103,CHI,BKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,Shot Chart Detail,0022301223,453,201942,DeMar DeRozan,1610612741,Chicago Bulls,3,4,48,Made Shot,Driving Dunk Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,0,1,9,1,1,20231208,SAS,CHI
300,Shot Chart Detail,0022301223,550,201942,DeMar DeRozan,1610612741,Chicago Bulls,4,11,33,Made Shot,Driving Floating Jump Shot,2PT Field Goal,Mid-Range,Left Side(L),8-16 ft.,8,-87,0,1,1,20231208,SAS,CHI
301,Shot Chart Detail,0022301223,620,201942,DeMar DeRozan,1610612741,Chicago Bulls,4,6,15,Made Shot,Running Dunk Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,0,-2,-1,1,1,20231208,SAS,CHI
302,Shot Chart Detail,0022301223,674,201942,DeMar DeRozan,1610612741,Chicago Bulls,4,2,13,Made Shot,Driving Floating Jump Shot,2PT Field Goal,In The Paint (Non-RA),Center(C),8-16 ft.,11,-26,110,1,1,20231208,SAS,CHI
303,Shot Chart Detail,0022301223,680,201942,DeMar DeRozan,1610612741,Chicago Bulls,4,1,42,Made Shot,Pullup Jump shot,2PT Field Goal,Mid-Range,Right Side Center(RC),16-24 ft.,20,125,158,1,1,20231208,SAS,CHI

In [65]:
from nba_api.stats.endpoints import playerindex

# Player Stats by ID
career = playerindex.PlayerIndex() 

# pandas data frames 
stat9 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [66]:
stat9

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,JERSEY_NUMBER,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,FROM_YEAR,TO_YEAR,PTS,REB,AST,STATS_TIMEFRAME
0,1630173,Achiuwa,Precious,precious-achiuwa,1610612752,knicks,0,New York,Knicks,NYK,5,F,6-8,243,Memphis,Nigeria,2020.0,1.0,20.0,1.0,2020,2023,6.7,5.0,1.4,Season
1,203500,Adams,Steven,steven-adams,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,4,C,6-11,265,Pittsburgh,New Zealand,2013.0,1.0,12.0,1.0,2013,2023,NaN,NaN,NaN,Season
2,1628389,Adebayo,Bam,bam-adebayo,1610612748,heat,0,Miami,Heat,MIA,13,C-F,6-9,255,Kentucky,USA,2017.0,1.0,14.0,1.0,2017,2023,22.0,10.4,4.1,Season
3,1630534,Agbaji,Ochai,ochai-agbaji,1610612762,jazz,0,Utah,Jazz,UTA,30,G,6-5,215,Kansas,USA,2022.0,1.0,14.0,1.0,2022,2023,6.0,2.6,1.0,Season
4,1630583,Aldama,Santi,santi-aldama,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,7,F-C,7-0,215,Loyola-Maryland,Spain,2021.0,1.0,30.0,1.0,2021,2023,10.4,5.5,1.7,Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,201152,Young,Thaddeus,thaddeus-young,1610612761,raptors,0,Toronto,Raptors,TOR,21,F,6-8,225,Georgia Tech,USA,2007.0,1.0,12.0,1.0,2007,2023,3.1,1.6,1.5,Season
539,1629027,Young,Trae,trae-young,1610612737,hawks,0,Atlanta,Hawks,ATL,11,G,6-1,164,Oklahoma,USA,2018.0,1.0,5.0,1.0,2018,2023,27.2,3.0,10.9,Season
540,1630209,Yurtseven,Omer,omer-yurtseven,1610612762,jazz,0,Utah,Jazz,UTA,77,C,6-11,275,Georgetown,Turkey,NaN,NaN,NaN,1.0,2020,2023,3.7,4.4,0.6,Season
541,203469,Zeller,Cody,cody-zeller,1610612740,pelicans,0,New Orleans,Pelicans,NOP,40,F-C,6-11,240,Indiana,USA,2013.0,1.0,4.0,1.0,2013,2023,2.1,2.8,1.1,Season
542,1627826,Zubac,Ivica,ivica-zubac,1610612746,clippers,0,LA,Clippers,LAC,40,C,7-0,240,Mega Basket,Croatia,2016.0,2.0,32.0,1.0,2016,2023,12.4,9.7,1.3,Season

In [67]:
from nba_api.stats.endpoints import playerfantasyprofilebargraph

# Player Stats by ID
career = playerfantasyprofilebargraph.PlayerFantasyProfileBarGraph(player_id='201942', ) 

# pandas data frames 
stat10 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [68]:
stat10

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,FG3M,FT_PCT,STL,BLK,TOV,FG_PCT
0,201942,DeMar DeRozan,1610612741,CHI,37.1,38.8,22.4,3.9,5.3,1.0,0.849,1.08,0.67,1.4,0.466

In [88]:
from nba_api.stats.endpoints import playergamelog

# Player Stats by ID
career = playergamelog.PlayerGameLog(player_id='1628389') 

# pandas data frames 
stat11 = career.get_data_frames()[0]
pd.set_option('display.max_column', None)

In [89]:
stat11.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,1628389,0022300551,"JAN 14, 2024",MIA vs. CHA,W,35,9,17,0.529,0,1,0.0,6,8,0.750,0,10,10,7,0,1,2,3,24,5,1
1,22023,1628389,0022300535,"JAN 12, 2024",MIA vs. ORL,W,39,8,17,0.471,0,0,0.0,5,6,0.833,4,7,11,7,0,1,4,3,21,17,1
2,22023,1628389,0022300522,"JAN 10, 2024",MIA vs. OKC,L,37,9,16,0.563,0,0,0.0,7,7,1.000,5,6,11,6,0,2,1,1,25,-6,1
3,22023,1628389,0022300509,"JAN 08, 2024",MIA vs. HOU,W,32,9,12,0.750,0,0,0.0,4,7,0.571,1,11,12,3,1,0,3,4,22,12,1
4,22023,1628389,0022300489,"JAN 05, 2024",MIA @ PHX,L,36,11,19,0.579,0,0,0.0,6,7,0.857,2,8,10,1,0,1,1,2,28,-16,1

In [71]:
from nba_api.stats.static import players

# Player Stats by ID
career = players.get_active_players()

# pandas data frames 
stat22 = pd.json_normalize(career)
pd.set_option('display.max_column', None)

In [90]:
stat22.head()

        id         full_name first_name last_name  is_active
0  1630173  Precious Achiuwa   Precious   Achiuwa       True
1   203500      Steven Adams     Steven     Adams       True
2  1628389       Bam Adebayo        Bam   Adebayo       True
3  1630534      Ochai Agbaji      Ochai    Agbaji       True
4  1630583      Santi Aldama      Santi    Aldama       True

In [92]:
from nba_api.stats.static import teams

teamList = teams.get_teams()

stat33 = pd.json_normalize(teamList)
pd.set_option('display.max_column', None)

In [93]:
stat33.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [ ]:
def get