In [1]:
# Data and NBA API
# !pip install nba_api

import pandas as pd
import numpy as np

from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import fantasywidget
from nba_api.stats.endpoints import playergamelog

pd.set_option('display.max_column', None)

In [42]:
# def getPlayersStats(playerName, season=False):

#     # player info: ID, full_name, first_name, last_name, is_active 
#     nba_players = players.get_players()
#     player_info =  pd.json_normalize(nba_players) 
#     player_info = player_info[player_info['full_name'] == playerName] 
   
#     # player stats by ID all years
#     stats = playercareerstats.PlayerCareerStats(player_id=player_info['id'])
#     stats_df = stats.get_data_frames()[0]

#     # player stats with year
#     stats_df1 = stats_df[stats_df['SEASON_ID'] == season]

#     if season:
#         # Return indicated season
#         return stats_df1 
#     else:
#         # Return all seasons if no season indicated
#         return stats_df

In [12]:
class Player:
    def __init__(self, playerName):
        nba_players = players.get_players()
        player_info =  pd.json_normalize(nba_players) 
        player_info = player_info[player_info['full_name'] == playerName]

        self.player_id = player_info['id']
        self.full_name = player_info['full_name']
        self.first_name = player_info['first_name']
        self.last_name = player_info['last_name']
        self.is_active = player_info['is_active']
    
    def getPlayersStats(self, season=False):
        stats = playercareerstats.PlayerCareerStats(player_id=self.player_id)
        stats_df = stats.get_data_frames()[0]
        if season:
            stats_df1 = stats_df[stats_df['SEASON_ID'] == season]
            return stats_df1
        else:
            return stats_df
    
    def getPlayerGameLog(self, season=''):
        game_df = playergamelog.PlayerGameLog(player_id=self.player_id)
        game_df = game_df.get_data_frames()[0]

        return game_df

In [25]:
mj = Player('Michael Jordan')
mj.getPlayersStats('1996-97')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
11,893,1996-97,00,1610612741,CHI,34.0,82,82,3109.0,920,1892,0.486,111,297,0.374,480,576,0.833,113,369,482,352,140,44,166,156,2431

In [20]:
mjStats_df = Player('Michael Jordan')
mjStats_df.getPlayersStats('1986-87')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,2279,0.482,12,66,0.182,833,972,0.857,166,264,430,377,236,125,272,237,3041

ValueError: DataFrame constructor not properly called!

In [21]:
aiStats_df = Player('Allen Iverson')
aiStats_df.getPlayersStats('2001-02')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
5,947,2001-02,00,1610612755,PHI,27.0,60,59,2624.0,665,1669,0.398,78,268,0.291,475,585,0.812,44,225,269,331,168,13,237,102,1883

In [22]:
lbjStats = Player('LeBron James')
lbjStats.getPlayerGameLog()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2544,0022300605,"JAN 21, 2024",LAL vs. POR,W,31,8,16,0.500,3,8,0.375,9,10,0.900,0,5,5,5,0,0,3,2,28,28,1
1,22023,2544,0022300591,"JAN 19, 2024",LAL vs. BKN,L,34,9,22,0.409,2,5,0.400,4,5,0.800,5,6,11,5,0,0,4,1,24,-13,1
2,22023,2544,0022300577,"JAN 17, 2024",LAL vs. DAL,W,33,10,19,0.526,3,7,0.429,2,2,1.000,1,7,8,8,1,0,3,1,25,20,1
3,22023,2544,0022300565,"JAN 15, 2024",LAL vs. OKC,W,39,12,20,0.600,1,2,0.500,0,1,0.000,0,7,7,6,0,0,5,1,25,2,1
4,22023,2544,0022300531,"JAN 11, 2024",LAL vs. PHX,L,24,3,11,0.273,0,4,0.000,4,7,0.571,0,5,5,9,1,0,4,1,10,-25,1
5,22023,2544,0022300516,"JAN 09, 2024",LAL vs. TOR,W,35,8,17,0.471,2,5,0.400,4,6,0.667,0,5,5,12,1,1,3,0,22,0,1
6,22023,2544,0022300505,"JAN 07, 2024",LAL vs. LAC,W,38,11,19,0.579,1,3,0.333,2,3,0.667,1,7,8,7,1,0,4,2,25,5,1
7,22023,2544,0022300491,"JAN 05, 2024",LAL vs. MEM,L,39,11,24,0.458,4,9,0.444,6,10,0.600,2,3,5,7,5,0,4,0,32,-8,1
8,22023,2544,0022300475,"JAN 03, 2024",LAL vs. MIA,L,38,6,18,0.333,0,6,0.000,0,0,0.000,0,6,6,9,0,0,2,2,12,-20,1
9,22023,2544,0022300446,"DEC 31, 2023",LAL @ NOP,L,37,12,24,0.500,3,7,0.429,7,8,0.875,0,5,5,8,0,1,4,2,34,-11,1
10,22023,2544,0022300443,"DEC 30, 2023",LAL @ MIN,L,39,10,21,0.476,1,4,0.250,5,7,0.714,0,3,3,6,3,1,1,2,26,-5,1
11,22023,2544,0022300428,"DEC 28, 2023",LAL vs. CHA,W,25,7,13,0.538,2,5,0.400,1,1,1.000,0,4,4,11,0,0,3,0,17,1,1
12,22023,2544,0022300403,"DEC 25, 2023",LAL vs. BOS,L,37,5,14,0.357,1,2,0.500,5,6,0.833,0,9,9,8,0,0,3,1,16,-11,1
13,22023,2544,0022300397,"DEC 23, 2023",LAL @ OKC,W,37,13,20,0.650,5,5,1.000,9,9,1.000,2,5,7,7,2,2,3,0,40,10,1
14,22023,2544,0022300370,"DEC 20, 2023",LAL @ CHI,L,37,10,18,0.556,1,3,0.333,4,4,1.000,2,8,10,9,1,2,5,0,25,-11,1
15,22023,2544,0022300359,"DEC 18, 2023",LAL vs. NYK,L,39,10,23,0.435,2,8,0.250,3,4,0.750,1,10,11,11,1,0,2,1,25,-13,1
16,22023,2544,0022300331,"DEC 15, 2023",LAL @ SAS,L,36,7,17,0.412,2,6,0.333,7,10,0.700,2,5,7,14,2,0,2,1,23,-28,1
17,22023,2544,0022300306,"DEC 12, 2023",LAL @ DAL,L,40,14,27,0.519,3,8,0.375,2,3,0.667,2,6,8,9,3,1,4,1,33,-4,1
18,22023,2544,0022301230,"DEC 07, 2023",LAL vs. NOP,W,23,9,12,0.750,4,4,1.000,8,8,1.000,0,5,5,8,0,0,0,1,30,36,1
19,22023,2544,0022301203,"DEC 05, 2023",LAL vs. PHX,W,40,12,25,0.480,2,4,0.500,5,6,0.833,3,5,8,11,5,0,2,3,31,12,1
20,22023,2544,0022300291,"DEC 02, 2023",LAL vs. HOU,W,35,7,17,0.412,0,4,0.000,2,5,0.400,0,4,4,7,1,1,5,0,16,16,1
21,22023,2544,0022300271,"NOV 30, 2023",LAL @ OKC,L,35,7,12,0.583,4,8,0.500,3,4,0.750,2,10,12,6,1,1,5,1,21,-18,1
22,22023,2544,0022300258,"NOV 29, 2023",LAL @ DET,W,29,9,19,0.474,2,6,0.333,5,5,1.000,2,6,8,3,0,0,1,0,25,26,1
23,22023,2544,0022300255,"NOV 27, 2023",LAL @ PHI,L,30,8,12,0.667,1,1,1.000,1,2,0.500,0,0,0,5,1,1,1,0,18,-30,1
24,22023,2544,0022300242,"NOV 25, 2023",LAL @ CLE,W,36,8,23,0.348,1,9,0.111,5,7,0.714,1,5,6,6,2,2,4,1,22,2,1
25,22023,2544,0022300238,"NOV 22, 2023",LAL vs. DAL,L,36,9,19,0.474,4,9,0.444,4,7,0.571,2,7,9,7,0,0,3,0,26,7,1
26,22023,2544,0022300042,"NOV 21, 2023",LAL vs. UTA,W,24,6,10,0.600,3,5,0.600,2,2,1.000,1,6,7,9,0,0,2,0,17,14,1
27,22023,2544,0022300216,"NOV 19, 2023",LAL vs. HOU,W,40,14,19,0.737,2,5,0.400,7,9,0.778,1,5,6,8,3,0,2,0,37,2,1
28,22023,2544,0022300036,"NOV 17, 2023",LAL @ POR,W,35,13,22,0.591,5,9,0.556,4,6,0.667,0,5,5,9,2,0,3,3,35,19,1
29,22023,2544,0022300198,"NOV 15, 2023",LAL vs. SAC,L,35,9,15,0.600,3,7,0.429,7,8,0.875,2,8,10,12,4,1,6,1,28,0,1
30,22023,2544,0022300026,"NOV 14, 2023",LAL vs. MEM,W,23,6,11,0.545,3,6,0.500,1,2,0.500,0,9,9,6,1,0,4,1,16,15,1
31,22023,2544,0022300015,"NOV 10, 2023",LAL @ PHX,W,36,11,17,0.647,3,4,0.750,7,11,0.636,1,10,11,6,1,1,4,1,32,2,1
32,22023,2544,0022300163,"NOV 08, 2023",LAL @ HOU,L,27,7,13,0.538,0,2,0.000,4,5,0.800,1,5,6,2,0,0,3,1,18,-24,1
33,22023,2544,0022300150,"NOV 06, 2023",LAL @ MIA,L,37,13,23,0.565,0,4,0.000,4,4,1.000,0,4,4,3,1,3,5,4,30,6,1
34,22023,2544,0022300134,"NOV 04, 2023",LAL @ ORL,L,35,8,15,0.533,2,5,0.400,6,7,0.857,1,8,9,5,3,0,3,1,24,12,1
35,22023,2544,0022300127,"NOV 01, 2023",LAL vs. LAC,W,42,13,19,0.684,4,8,0.500,5,10,0.500,0,12,12,7,1,2,4,3,35,6,1
36,22023,2544,0022300111,"OCT 30, 2023",LAL vs. ORL,W,33,7,17,0.412,2,6,0.333,3,4,0.750,0,3,3,4,3,1,5,0,19,5,1
37,22023,2544,0022300100,"OCT 29, 2023",LAL @ SAC,L,39,11,19,0.579,3,8,0.375,2,6,0.333,0,15,15,8,0,0,8,2,27,-5,1
38,22023,2544,0022300076,"OCT 26, 2023",LAL vs. PHX,W,35,7,14,0.500,1,5,0.200,6,8,0.750,1,7,8,9,2,2,5,1,21,22,1
39,22023,2544,0022300061,"OCT 24, 2023",LAL @ DEN,L,29,10,16,0.625,1,4,0.250,0,1,0.000,1,7,8,5,1,0,0,1,21,7,1

In [23]:
giannisStats_df = Player('Giannis Antetokounmpo')
giannisStats_df.getPlayersStats('2022-23')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
9,203507,2022-23,00,1610612749,MIL,28.0,63,63,2024.0,707,1278,0.553,47,171,0.275,498,772,0.645,137,605,742,359,52,51,246,197,1959

In [24]:
new_df = fantasywidget.FantasyWidget()
new_df1 = new_df.get_data_frames()[0]
new_df1.head()

,PLAYER_ID,PLAYER_NAME,PLAYER_POSITION,TEAM_ID,TEAM_ABBREVIATION,GP,MIN,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,BLK,STL,TOV,FG3M,FGA,FG_PCT,FTA,FT_PCT
0,203954,Joel Embiid,C-F,1610612755,PHI,32,34.2,61.3,64.3,36.1,11.6,5.9,1.88,1.16,3.6,1.2,22.4,0.539,12.2,0.887
1,1629029,Luka Doncic,F-G,1610612742,DAL,36,36.9,57.8,59.8,33.6,8.5,9.3,0.58,1.42,3.9,3.9,23.7,0.482,8.8,0.773
2,203507,Giannis Antetokounmpo,F,1610612749,MIL,41,35.2,55.5,58.0,31.2,11.5,6.1,1.12,1.37,3.6,0.4,19.1,0.603,11.5,0.669
3,203999,Nikola Jokic,C,1610612743,DEN,43,33.6,55.3,57.4,26.1,11.9,9.1,0.93,1.16,2.9,1.0,17.3,0.587,5.8,0.823
4,1628983,Shai Gilgeous-Alexander,G,1610612760,OKC,41,34.5,51.2,54.2,31.1,5.6,6.3,0.78,2.22,2.0,1.1,20.1,0.549,8.9,0.893

In [25]:
new_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          531 non-null    int64
 1   PLAYER_NAME        531 non-null    object
 2   PLAYER_POSITION    531 non-null    object
 3   TEAM_ID            531 non-null    int64
 4   TEAM_ABBREVIATION  531 non-null    object
 5   GP                 531 non-null    int64
 6   MIN                531 non-null    float64
 7   FAN_DUEL_PTS       531 non-null    float64
 8   NBA_FANTASY_PTS    531 non-null    float64
 9   PTS                531 non-null    float64
 10  REB                531 non-null    float64
 11  AST                531 non-null    float64
 12  BLK                531 non-null    float64
 13  STL                531 non-null    float64
 14  TOV                531 non-null    float64
 15  FG3M               531 non-null    float64
 16  FGA                531 non-null    float64
 17  FG_PCT             531 non-null    float64
 18  FTA                531 non-null    float64
 19  FT_PCT             531 non-null    float64
dtypes: float64(14), int64(3), object(3)
memory usage: 83.1+ KB

In [26]:
new_df1.head(10)

,PLAYER_ID,PLAYER_NAME,PLAYER_POSITION,TEAM_ID,TEAM_ABBREVIATION,GP,MIN,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,BLK,STL,TOV,FG3M,FGA,FG_PCT,FTA,FT_PCT
0,203954,Joel Embiid,C-F,1610612755,PHI,32,34.2,61.3,64.3,36.1,11.6,5.9,1.88,1.16,3.6,1.2,22.4,0.539,12.2,0.887
1,1629029,Luka Doncic,F-G,1610612742,DAL,36,36.9,57.8,59.8,33.6,8.5,9.3,0.58,1.42,3.9,3.9,23.7,0.482,8.8,0.773
2,203507,Giannis Antetokounmpo,F,1610612749,MIL,41,35.2,55.5,58.0,31.2,11.5,6.1,1.12,1.37,3.6,0.4,19.1,0.603,11.5,0.669
3,203999,Nikola Jokic,C,1610612743,DEN,43,33.6,55.3,57.4,26.1,11.9,9.1,0.93,1.16,2.9,1.0,17.3,0.587,5.8,0.823
4,1628983,Shai Gilgeous-Alexander,G,1610612760,OKC,41,34.5,51.2,54.2,31.1,5.6,6.3,0.78,2.22,2.0,1.1,20.1,0.549,8.9,0.893
5,203076,Anthony Davis,F-C,1610612747,LAL,42,35.9,50.3,53.9,24.9,12.2,3.7,2.43,1.21,2.2,0.3,16.8,0.557,7.2,0.814
6,1630169,Tyrese Haliburton,G,1610612754,IND,34,33.4,48.4,50.2,23.6,4.1,12.6,0.65,1.09,2.5,3.4,16.9,0.496,4.1,0.862
7,1627734,Domantas Sabonis,F-C,1610612758,SAC,42,35.3,46.7,48.1,20.0,12.8,7.9,0.55,0.83,3.3,0.5,13.1,0.610,5.2,0.677
8,201142,Kevin Durant,F,1610612756,PHX,36,37.1,46.6,48.7,29.6,6.3,5.6,1.22,0.86,3.2,2.4,19.8,0.531,7.0,0.881
9,1629027,Trae Young,G,1610612737,ATL,39,36.3,45.6,47.2,26.9,3.0,10.8,0.23,1.38,4.3,3.3,19.7,0.422,8.2,0.858

In [27]:
traeStats_df = Player('Trae Young')
traeStats_df.getPlayersStats('2022-23')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
4,1629027,2022-23,00,1610612737,ATL,24.0,73,73,2541.0,597,1390,0.429,154,460,0.335,566,639,0.886,56,161,217,741,80,9,300,104,1914

In [28]:
kdStats_df = Player('Kevin Durant')
kdStats_df.getPlayersStats('2022-23')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
14,201142,2022-23,00,1610612751,BKN,34.0,39,39,1403.0,410,734,0.559,71,189,0.376,267,286,0.934,14,248,262,207,32,57,136,92,1158
15,201142,2022-23,00,1610612756,PHX,34.0,8,8,269.0,73,128,0.570,22,41,0.537,40,48,0.833,3,48,51,28,2,10,20,7,208
16,201142,2022-23,00,0,TOT,34.0,47,47,1672.0,483,862,0.560,93,230,0.404,307,334,0.919,17,296,313,235,34,67,156,99,1366

In [29]:
demarStats_df = Player('DeMar DeRozan')
demarStats_df.getPlayersStats('2022-23')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
13,201942,2022-23,00,1610612741,CHI,33.0,74,74,2682.0,657,1303,0.504,46,142,0.324,456,523,0.872,34,309,343,377,83,36,153,186,1816

In [30]:
game_df = playergamelog.PlayerGameLog(player_id='203954')
game_df = game_df.get_data_frames()[0]
game_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,203954,0022300608,"JAN 22, 2024",PHI vs. SAS,W,37,24,41,0.585,1,2,0.5,21,23,0.913,9,9,18,5,1,1,1,2,70,11,1
1,22023,203954,0022300593,"JAN 20, 2024",PHI @ CHA,W,37,11,23,0.478,0,1,0.0,11,12,0.917,1,9,10,5,0,3,3,2,33,-2,1
2,22023,203954,0022300585,"JAN 19, 2024",PHI @ ORL,W,31,12,22,0.545,1,2,0.5,11,11,1.000,1,6,7,2,4,0,1,1,36,12,1
3,22023,203954,0022300566,"JAN 16, 2024",PHI vs. DEN,W,39,13,22,0.591,3,6,0.5,12,15,0.800,1,6,7,10,0,1,3,4,41,0,1
4,22023,203954,0022300555,"JAN 15, 2024",PHI vs. HOU,W,31,12,21,0.571,1,5,0.2,16,17,0.941,2,8,10,3,1,1,2,5,41,7,1