In [1]:
!pip install nba_api

Requirement already satisfied: nba_api in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (1.4.1)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (1.26.2)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/torianotriche/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (1.26.18)

In [3]:
import numpy as np
import pandas as pd

In [16]:
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203932') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# # json
# career.get_json()

# # dictionary
# career.get_dict()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203932,2014-15,00,1610612753,ORL,19.0,47,8,797.0,93,...,0.721,46,123,169,33,21,22,38,83,243
1,203932,2015-16,00,1610612753,ORL,20.0,78,37,1863.0,274,...,0.668,154,353,507,128,59,55,66,153,719
2,203932,2016-17,00,1610612753,ORL,21.0,80,72,2298.0,393,...,0.719,116,289,405,150,65,40,89,172,1019
3,203932,2017-18,00,1610612753,ORL,22.0,58,57,1909.0,375,...,0.698,87,370,457,136,59,45,107,111,1022
4,203932,2018-19,00,1610612753,ORL,23.0,78,78,2633.0,470,...,0.731,129,445,574,289,57,56,162,172,1246
5,203932,2019-20,00,1610612753,ORL,24.0,62,62,2017.0,335,...,0.674,107,368,475,228,51,39,100,125,894
6,203932,2020-21,00,1610612753,ORL,25.0,25,25,736.0,128,...,0.629,39,127,166,105,16,20,67,49,364
7,203932,2020-21,00,1610612743,DEN,25.0,25,25,648.0,103,...,0.705,38,80,118,56,17,14,30,40,254
8,203932,2020-21,00,0,TOT,25.0,50,50,1384.0,231,...,0.651,77,207,284,161,33,34,97,89,618
9,203932,2021-22,00,1610612743,DEN,26.0,75,75,2375.0,434,...,0.743,125,314,439,188,44,44,133,148,1126
10,203932,2022-23,00,1610612743,DEN,27.0,68,68,2055.0,429,...,0.608,164,282,446,203,54,51,98,129,1109
11,203932,2023-24,00,1610612743,DEN,28.0,34,34,1072.0,190,...,0.628,94,128,222,108,30,19,46,58,471

In [8]:
path = '/Users/torianotriche/Desktop/NBA_Player_IDs.csv'
player_id = pd.read_csv(path)

In [9]:
player_id.head()

,BBRefName,BBRefLink,BBRefID,BBRefBirthDate,NBAName,NBALink,NBAID,NBABirthDate,ESPNName,ESPNLink,ESPNID,ESPNBirthDate,SpotracName,SpotracLink,SpotracID
0,A.J. Hammons,https://www.basketball-reference.com/players/h...,hammoaj01,8/27/92,AJ Hammons,https://stats.nba.com/player/1627773/,1627773.0,8/27/92,AJ Hammons,http://www.espn.com/nba/player/_/id/2991178/aj...,2991178.0,8/27/92,A.J. Hammons,https://www.spotrac.com/redirect/player/20252/,20252.0
1,A.J. Price,https://www.basketball-reference.com/players/p...,priceaj01,10/7/86,AJ Price,https://stats.nba.com/player/201985/,201985.0,10/7/86,A.J. Price,http://www.espn.com/nba/player/_/id/4010/aj-price,4010.0,10/7/86,A.J. Price,https://www.spotrac.com/redirect/player/6292/,6292.0
2,Aaron Brooks,https://www.basketball-reference.com/players/b...,brookaa01,1/14/85,Aaron Brooks,https://stats.nba.com/player/201166/,201166.0,1/14/85,Aaron Brooks,http://www.espn.com/nba/player/_/id/3192/aaron...,3192.0,1/14/85,Aaron Brooks,https://www.spotrac.com/redirect/player/2390/,2390.0
3,Aaron Gordon,https://www.basketball-reference.com/players/g...,gordoaa01,9/16/95,Aaron Gordon,https://stats.nba.com/player/203932/,203932.0,9/16/95,Aaron Gordon,http://www.espn.com/nba/player/_/id/3064290/aa...,3064290.0,9/16/95,Aaron Gordon,https://www.spotrac.com/redirect/player/15356/,15356.0
4,Aaron Gray,https://www.basketball-reference.com/players/g...,grayaa01,12/7/84,Aaron Gray,https://stats.nba.com/player/201189/,201189.0,12/7/84,Aaron Gray,http://www.espn.com/nba/player/_/id/3207/aaron...,3207.0,12/7/84,Aaron Gray,https://www.spotrac.com/redirect/player/2244/,2244.0

In [10]:
player_id.columns

Index(['BBRefName', 'BBRefLink', 'BBRefID', 'BBRefBirthDate', 'NBAName',
       'NBALink', 'NBAID', 'NBABirthDate', 'ESPNName', 'ESPNLink', 'ESPNID',
       'ESPNBirthDate', 'SpotracName', 'SpotracLink', 'SpotracID'],
      dtype='object')

In [17]:
player_id = player_id[['NBAName',
       'NBALink', 'NBAID', 'NBABirthDate']]

In [19]:
player_id.tail()

     NBAName NBALink  NBAID NBABirthDate
4608     NaN     NaN    NaN          NaN
4609     NaN     NaN    NaN          NaN
4610     NaN     NaN    NaN          NaN
4611     NaN     NaN    NaN          NaN
4612     NaN     NaN    NaN          NaN

In [22]:
player_id.dropna(axis=0, inplace=True)

In [25]:
player_id.head()

        NBAName                                NBALink      NBAID NBABirthDate
0    AJ Hammons  https://stats.nba.com/player/1627773/  1627773.0      8/27/92
1      AJ Price   https://stats.nba.com/player/201985/   201985.0      10/7/86
2  Aaron Brooks   https://stats.nba.com/player/201166/   201166.0      1/14/85
3  Aaron Gordon   https://stats.nba.com/player/203932/   203932.0      9/16/95
4    Aaron Gray   https://stats.nba.com/player/201189/   201189.0      12/7/84